workflows/Email Sender\Receiver/Email Sender\Receiver.json
{
  "active": false,
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Generate Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Email": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-31T09:28:22.148Z",
  "id": "HQp46IICmrOVLGJU",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Email Sender\\Receiver",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Query Form",
        "formDescription": "thank you for contacting us",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Full Name",
              "placeholder": "js entr ur name lil bro",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "placeholder": "Enter yo email nigga",
              "requiredField": true
            },
            {
              "fieldLabel": "Query",
              "placeholder": "Whats wrong with ya",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -768,
        -176
      ],
      "id": "ac8b206b-da4e-4499-b711-ef08c3bb22dd",
      "name": "On form submission",
      "webhookId": "cdbbce8b-0eb5-41c3-89c3-9ee6e2d703f8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5c198325-5261-43bb-bcab-2a60b827fa98",
              "name": "Full Name",
              "value": "={{ $json['Full Name'] }}",
              "type": "string"
            },
            {
              "id": "cd882a5c-0c93-4692-84b3-9e3c5188edb7",
              "name": "Email",
              "value": "={{ $json.Email }}",
              "type": "string"
            },
            {
              "id": "f4331534-84a6-4d0a-b4ad-454e7c623dbf",
              "name": "Query",
              "value": "={{ $json.Query }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -544,
        -176
      ],
      "id": "1e9b839f-6a6a-4fef-a822-56933d948a2f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1K1P718l8h1z74mfes2nQa3bmaxjeHaPd2_FBCTjiWFY",
          "mode": "list",
          "cachedResultName": "Test Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1K1P718l8h1z74mfes2nQa3bmaxjeHaPd2_FBCTjiWFY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1K1P718l8h1z74mfes2nQa3bmaxjeHaPd2_FBCTjiWFY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json['Full Name'] }}",
            "Inquiry": "={{ $json.Query }}",
            "Email": "={{ $json.Email }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Inquiry",
              "displayName": "Inquiry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -320,
        -176
      ],
      "id": "20cd5b22-950b-41c0-8b55-f3de3302f412",
      "name": "Append row in sheet",
      "credentials": {
        "googleApi": {
          "id": "wZNFtmT9Bl8TsFbg",
          "name": "edify-automation - [ j.ahmed.ja7a7@gmail.com ]"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "={{ $json.Email }}",
        "subject": "={{ $json.Inquiry }}",
        "message": "Hello from the other ",
        "responseType": "freeText",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -96,
        -176
      ],
      "id": "d4b48f84-038c-45d7-acd1-b3fcc5e50b3d",
      "name": "Send message and wait for response",
      "webhookId": "23893460-1660-4187-9ddc-f8b9de1f6d00",
      "credentials": {
        "gmailOAuth2": {
          "id": "Q458x3HuWMnd4WaH",
          "name": "OAuth - [ j.ahmed.ja7a7@gmail.com ]"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -944,
        64
      ],
      "id": "215aee5f-d669-489d-bdaf-5e39f58fad46",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "Q458x3HuWMnd4WaH",
          "name": "OAuth - [ j.ahmed.ja7a7@gmail.com ]"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aeb9bd19-bdb7-43f5-9af2-44d32280f063",
              "name": "Sender",
              "value": "={{ $json.From }}",
              "type": "string"
            },
            {
              "id": "e6698b5c-ccba-48db-9ed6-559fd378fcca",
              "name": "Subject",
              "value": "={{ $json.Subject }}",
              "type": "string"
            },
            {
              "id": "751117f7-4e58-4426-b890-b77518ee42d0",
              "name": "Body",
              "value": "={{ $json.snippet }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -720,
        64
      ],
      "id": "96e07fde-3c24-453c-90f7-64cc6dd36746",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "reply",
        "threadId": "={{ $('Gmail Trigger').item.json.threadId }}",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "message": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        80,
        64
      ],
      "id": "662aec30-ee6b-4bf4-9937-24b59d1de8a1",
      "name": "Reply to a message",
      "webhookId": "d29f1acb-4ccf-4adb-a5ea-de7ba816eb0e",
      "credentials": {
        "gmailOAuth2": {
          "id": "Q458x3HuWMnd4WaH",
          "name": "OAuth - [ j.ahmed.ja7a7@gmail.com ]"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-1.5-flash-latest",
          "mode": "list",
          "cachedResultName": "models/gemini-1.5-flash-latest"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an assistant that composes email responses as \"Junaid Ahmad\". Given the following input, generate a polite and relevant reply, addressing the sender, following the subject, and responding to the body content. Output must be strictly valid JSON with the following fields:\n\n{\n  \"to\": \"<sender email or name>\",\n  \"subject\": \"<email subject>\",\n  \"body\": \"<response body text>\"\n}\n\nExample:\nInput:\n {\n   \"to\": \"alice@example.com\",\n   \"subject\": \"Question about the project deadline\",\n   \"body\": \"Hi, can you clarify if the deadline is moving to next Friday or staying this Friday?\"\n }\n\nResponse:\n{\n  \"to\": \"alice@example.com\",\n  \"subject\": \"Re: Question about the project deadline\",\n  \"body\": \"Hi Alice,\\n\\nThank you for your message. The project deadline is still scheduled for this Friday. Please let me know if you’d like an extension or need any help preparing your deliverables.\\n\\nBest regards,\\n[Your Name]\"\n}\n\nNow generate the reply for this input:\n {\n   \"to\": \"{{$json.Sender}}\",\n   \"subject\": \"{{$json.Subject}}\",\n   \"body\": \"{{$json.Body}}\"\n }\n",
              "role": "model"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -496,
        64
      ],
      "id": "933a22bb-db4e-4688-95a6-f011f966668a",
      "name": "Generate Email",
      "credentials": {
        "googlePalmApi": {
          "id": "CUz8utBxtWQreX8c",
          "name": "j.ahmed.ja7a7@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.content.parts[0].text ?? '';\nconst match = raw.match(/```(?:[a-z]+)?\\n([\\s\\S]*?)\\n```/i);\nconst jsonString = match ? match[1].trim() : raw.trim();\nconst cleaned = jsonString.replace(/\\\\'/g, \"'\");\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  throw new Error(`Failed to parse JSON: ${e.message}\\nRaw: ${cleaned}`);\n}\n\nreturn [{\n  json: {\n    to: parsed.to,\n    subject: parsed.subject,\n    body: parsed.body\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        64
      ],
      "id": "faae5762-eca3-4e77-a4de-ce717f4a305b",
      "name": "Code"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-08-31T09:28:22.157Z",
      "createdAt": "2025-08-31T09:28:22.157Z",
      "role": "workflow:owner",
      "workflowId": "HQp46IICmrOVLGJU",
      "projectId": "2lFcYqGDoW8pSvlN"
    }
  ],
  "staticData": {
    "node:Gmail Trigger": {
      "Gmail Trigger": {
        "lastTimeChecked": 1756660772,
        "possibleDuplicates": [
          "199012430c4e8caf"
        ]
      }
    }
  },
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-10-05T12:39:50.000Z",
  "versionId": "fd58c4c3-cd99-480e-8334-c63342e9db86"
}