workflows/Dcoument Summarizer/Dcoument Summarizer.json
{
  "active": false,
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "Message a model",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-31T13:27:25.462Z",
  "id": "BntxSbM5EcfJPb6w",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Dcoument Summarizer",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "serviceAccount",
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1RT6yp0N81rKlQzmJmayLhUWqmUWkeEMX",
          "mode": "list",
          "cachedResultName": "Docs",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1RT6yp0N81rKlQzmJmayLhUWqmUWkeEMX"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "9acfe1ae-af0a-4be6-8512-6c4cc93a2ff6",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleApi": {
          "id": "wZNFtmT9Bl8TsFbg",
          "name": "edify-automation - [ j.ahmed.ja7a7@gmail.com ]"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "get",
        "documentURL": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "4fc0e208-d2e7-467c-ae46-e4c85d9077c9",
      "name": "Get a document",
      "credentials": {
        "googleApi": {
          "id": "wZNFtmT9Bl8TsFbg",
          "name": "edify-automation - [ j.ahmed.ja7a7@gmail.com ]"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        480,
        224
      ],
      "id": "0aa06aab-c7fd-4dc0-9853-32f1fb46645f",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1OoYO0wqjlj6LDaj3fd_TEkZ09rhlclLXwE69oOm4qIs",
          "mode": "list",
          "cachedResultName": "Document Summaries",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OoYO0wqjlj6LDaj3fd_TEkZ09rhlclLXwE69oOm4qIs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OoYO0wqjlj6LDaj3fd_TEkZ09rhlclLXwE69oOm4qIs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $('Google Drive Trigger').item.json.name }}",
            "Summary": "={{ $json.content.parts[0].text }}",
            "Date": "={{ $today }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        768,
        0
      ],
      "id": "4f1ba165-3fb0-443e-b221-687c6cafc0f9",
      "name": "Append row in sheet",
      "credentials": {
        "googleApi": {
          "id": "wZNFtmT9Bl8TsFbg",
          "name": "edify-automation - [ j.ahmed.ja7a7@gmail.com ]"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-1.5-flash-latest",
          "mode": "list",
          "cachedResultName": "models/gemini-1.5-flash-latest"
        },
        "messages": {
          "values": [
            {
              "content": "=summarize the content\n\n{{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "124aeda5-7fc8-42ba-aed2-b8bb6e66214c",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "CUz8utBxtWQreX8c",
          "name": "j.ahmed.ja7a7@gmail.com"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-31T13:27:25.465Z",
      "updatedAt": "2025-08-31T13:27:25.465Z",
      "role": "workflow:owner",
      "workflowId": "BntxSbM5EcfJPb6w",
      "projectId": "2lFcYqGDoW8pSvlN"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-02T05:09:05.000Z",
  "versionId": "6446977c-8c44-44fe-8af9-bd0f16c57e1a"
}