workflows/E-Commerce Order Notification Bot/E-Commerce Order Notification Bot.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Create a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a database page": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-15T12:17:23.941Z",
  "id": "qCelWzpydFBhJFoI",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "E-Commerce Order Notification Bot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/ecommerce-order",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "645d9ef3-8bd2-49a9-aad3-aa329a821814",
      "name": "Webhook",
      "webhookId": "e5e99fe1-8498-42a3-97f3-bb66648fef6a"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "154d778e-0454-4c5c-800d-6fd5fff88b50",
              "name": "Customer Name",
              "value": "={{ $json.body.customer_name }}",
              "type": "string"
            },
            {
              "id": "7ed74d22-000c-4bf6-9c07-22bcc9b40374",
              "name": "Order Total",
              "value": "={{ $json.body.order_total }}",
              "type": "number"
            },
            {
              "id": "0a2d15a3-ae78-4f37-8b59-74b1f5c82c97",
              "name": "VIP",
              "value": "={{ $json.body.vip }}",
              "type": "boolean"
            },
            {
              "id": "24b640d5-d6a4-4c4a-8290-331090542a92",
              "name": "Items_Formatted",
              "value": "={{ $json.body.items.map(i => `${i.name} (x${i.qty})`).join(\", \") }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "id": "6714bf39-2feb-4052-add0-810c3d69d8fd",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09C8PCMQ3Z",
          "mode": "list",
          "cachedResultName": "new-channel"
        },
        "text": "=New Order:{{ $('Create a database page').item.json.id }}  \nVIP: {{ $('Create a database page').item.json.url }}",
        "otherOptions": {
          "mrkdwn": true
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        896,
        0
      ],
      "id": "9e145d87-ca94-4eb7-9116-9a4e55ac406b",
      "name": "Slack",
      "webhookId": "aff645d9-6cdb-4a90-b6da-2f67ae5fdd3c",
      "credentials": {
        "slackOAuth2Api": {
          "id": "tkOMw6LTf1iDpxxB",
          "name": "OAuth - [ j.ahmed.ja7a7@gmail.com ]"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "2652762d-3ce6-800d-98c5-ea373d008ce1",
          "mode": "list",
          "cachedResultName": "Invoice",
          "cachedResultUrl": "https://www.notion.so/2652762d3ce6800d98c5ea373d008ce1"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        448,
        0
      ],
      "id": "25f2145c-ce9f-4765-b463-29f892467396",
      "name": "Create a database page",
      "credentials": {
        "notionApi": {
          "id": "0yoykyHupJl7TnQb",
          "name": "j.ahmed.ja7a7@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "arhamkh6969@gmail.com",
        "subject": "Hello World",
        "message": "Good Bye",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        672,
        0
      ],
      "id": "d1b539b8-6598-4ac8-925f-9b5bde4dba06",
      "name": "Send a message",
      "webhookId": "3bdc90ca-3b60-4271-9754-71c69415740b",
      "credentials": {
        "gmailOAuth2": {
          "id": "Q458x3HuWMnd4WaH",
          "name": "OAuth - [ j.ahmed.ja7a7@gmail.com ]"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-09-15T12:17:23.952Z",
      "createdAt": "2025-09-15T12:17:23.952Z",
      "role": "workflow:owner",
      "workflowId": "qCelWzpydFBhJFoI",
      "projectId": "2lFcYqGDoW8pSvlN"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-15T14:51:27.000Z",
  "versionId": "ae48cdf1-7ced-4ab9-9cf1-b3e92e982d33"
}