workflows/Cross-Platform RAG system powered by Pinecone/Cross-Platform RAG system powered by Pinecone.json
{
  "active": false,
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "If is message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Whatsapp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If is message1": {
      "main": [
        [
          {
            "node": "Slack1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whatsapp": {
      "main": [
        [
          {
            "node": "Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack1": {
      "main": [
        [
          {
            "node": "Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Channel": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-15T12:15:06.266Z",
  "id": "fKnr8md0iRmXdxAE",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Cross-Platform RAG system powered by Pinecone",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Create knowledge base",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Knowledge file",
              "fieldType": "file"
            }
          ]
        },
        "options": {}
      },
      "id": "c9499661-410e-4064-834a-7e4bd4889772",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        208,
        64
      ],
      "webhookId": "aa82509b-1e5f-4216-ac01-ff57047304d4"
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "id": "58446017-295c-4a03-94f1-d815ec6945da",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        416,
        256
      ],
      "credentials": {
        "openAiApi": {
          "id": "Btzo19Pm3rnWyDIE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Extract from File').item.json.text }}",
        "options": {}
      },
      "id": "d0cb0834-7274-4e5e-a32a-356be6ddc074",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        672,
        256
      ]
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "id": "9899f934-7666-4b25-a76b-dcbc707c56a5",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        560,
        352
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Knowledge_file",
        "options": {}
      },
      "id": "167ff535-f38a-4949-9918-ca7b87dbfde8",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        400,
        64
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "id": "ef219c10-e8cd-4631-9f31-cc39c8fae7e6",
      "name": "Embeddings OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        528,
        1184
      ],
      "credentials": {
        "openAiApi": {
          "id": "Btzo19Pm3rnWyDIE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "name": "company_knowledge_base",
        "description": "this node connect to our company knowledge base",
        "topK": 10
      },
      "id": "e2e75c00-8ad6-4818-8183-8112c97653cf",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        512,
        832
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "4ad580a8-2f08-4c7e-8958-96d95b02e402",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        688,
        992
      ],
      "credentials": {
        "openAiApi": {
          "id": "Btzo19Pm3rnWyDIE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "open",
          "mode": "list",
          "cachedResultName": "open"
        },
        "options": {}
      },
      "id": "90b4081f-de9f-4729-984d-db0a4b7d1200",
      "name": "Pinecone Vector Store1",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        416,
        992
      ],
      "credentials": {
        "pineconeApi": {
          "id": "dXlrQiaIHKllMnnh",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "trigger": [
          "any_event"
        ],
        "channelId": {
          "__rl": true,
          "value": "C088MPJKX2R",
          "mode": "list",
          "cachedResultName": "n8n-message"
        },
        "options": {}
      },
      "id": "fbfd5134-57fb-4b05-94c5-474e08a7d4ee",
      "name": "Slack Trigger",
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        -496,
        608
      ],
      "webhookId": "e9131214-3a32-4a7a-8fc1-9772a5c288e0",
      "credentials": {
        "slackApi": {
          "id": "7JXTZMhkmFO59PyA",
          "name": "Access Token - [ j.ahmed.ja7a7@gmail.com ]"
        }
      }
    },
    {
      "parameters": {
        "model": "=deepseek-chat",
        "options": {
          "baseURL": "https://api.deepseek.com"
        }
      },
      "id": "79f288de-4529-44a9-8e57-b85fd16e8bc6",
      "name": "OpenAI Chat Model2",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        352,
        832
      ],
      "credentials": {
        "openAiApi": {
          "id": "Btzo19Pm3rnWyDIE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "id": "0e8925cd-c9c7-484c-b918-e5c19cea0baa",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -336,
        400
      ],
      "webhookId": "fb46ee53-2b0b-4263-abec-72a870c104c8",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "eYgmtaWjn1yzcOpI",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('WhatsApp Trigger').first().json.metadata.phone_number_id }}",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').first().json.messages[0].from }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "id": "95039791-38be-4205-a153-da011ab2931e",
      "name": "WhatsApp Business Cloud",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1216,
        384
      ],
      "webhookId": "e052891a-b620-4fe6-b379-e106fbbe6218",
      "credentials": {
        "whatsAppApi": {
          "id": "QaNYC2xlzfwmQHf0",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "343847f5-e87e-441d-945a-26efdbf4c17e",
              "leftValue": "={{ $json.text }}",
              "rightValue": "@U088QMASK34",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "ff66f14a-b7e9-4f2b-983e-970a32ee5783",
              "leftValue": "={{ $json.type }}",
              "rightValue": "app_mention",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "46ece631-4971-431e-bf57-48a18c00cdba",
      "name": "If is message1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -336,
        608
      ]
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "b366e988-659f-4d92-8ede-19ce430bad47",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -336,
        800
      ],
      "webhookId": "2221c31f-62ba-49d7-9b33-0555b2dc4939",
      "credentials": {
        "telegramApi": {
          "id": "CAmKdkeYqbICBMGu",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "13c7f9b0-0dd2-4273-8015-458ceadfd0bc",
                    "leftValue": "={{ $('Channel').item.json.channel }}",
                    "rightValue": "whatsapp",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "whatsapp"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Channel').item.json.channel}}",
                    "rightValue": "slack",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0530925f-e19a-4479-908e-2330effc16a9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "slack"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b333793d-e787-493c-800d-ece001fb3930",
                    "leftValue": "={{ $('Channel').item.json.channel }}",
                    "rightValue": "telegram",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "telegram"
            }
          ]
        },
        "options": {}
      },
      "id": "ad028840-6c1f-4457-90b8-f8ccf4e1d57b",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        736,
        576
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "open",
          "mode": "list",
          "cachedResultName": "open"
        },
        "options": {}
      },
      "id": "41f74b8f-eda4-400f-af3b-a0268985cbb9",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        608,
        64
      ],
      "credentials": {
        "pineconeApi": {
          "id": "dXlrQiaIHKllMnnh",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {}
      },
      "id": "5c0e3a8b-b271-44bb-9eba-16a09435d2d7",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        352,
        592
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "88fe8e52-2aa8-444e-a4fa-50c458f3ff36",
              "name": "message",
              "value": "={{ $json.messages[0].text.body }}",
              "type": "string"
            },
            {
              "id": "59a991b6-e266-440e-8eaf-df68bfdba64d",
              "name": "channel",
              "value": "whatsapp",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7fab6f95-17ee-42e4-9e84-fec03ddfc7f2",
      "name": "Whatsapp",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        400
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b7e70825-797f-4a88-b32c-616e484cd086",
              "name": "message",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "329151ff-c365-4bd5-a43e-328a2a6ef6bd",
              "name": "channel",
              "value": "slack",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "adf9b2c7-817b-49d4-ae10-3f7ee4a0b49b",
      "name": "Slack1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        608
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b7e70825-797f-4a88-b32c-616e484cd086",
              "name": "message",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "329151ff-c365-4bd5-a43e-328a2a6ef6bd",
              "name": "channel",
              "value": "telegram",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6199e159-bd21-41fb-b76f-76729025f870",
      "name": "Telegram",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        800
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "id": "4d0fbb10-891a-4af7-8211-1b25566349cc",
      "name": "Telegram1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1216,
        784
      ],
      "webhookId": "c8c69c26-453e-4c52-a26c-928ea36a504e",
      "credentials": {
        "telegramApi": {
          "id": "CAmKdkeYqbICBMGu",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe633b89-17d3-45e2-a296-67514075607f",
              "name": "channel",
              "value": "={{ $json.channel }}",
              "type": "string"
            },
            {
              "id": "22ac00c2-bd12-41bf-bb44-53971f733ef0",
              "name": "message",
              "value": "={{ $json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f716863e-9cdf-41e7-85a7-28a3f8fb6077",
      "name": "Channel",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        144,
        592
      ]
    },
    {
      "parameters": {
        "content": "## Handles Queries From Channels",
        "height": 760,
        "width": 520,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -528,
        256
      ],
      "id": "411ed7e2-e264-47cb-abf8-7596e82a9788",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Create Knowledge Base ",
        "height": 220,
        "width": 1040
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "6de266fe-6a18-4331-960c-a7d8aeebb21d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $('Slack Trigger').first().json.channel }}",
          "mode": "id"
        },
        "text": "={{ $('AI Agent').item.json.output }}",
        "otherOptions": {}
      },
      "id": "b755e861-15db-4944-8f49-eb53a49249ac",
      "name": "Send a message",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1216,
        592
      ],
      "webhookId": "7194f06a-73b6-446b-a937-10e77b6258fb",
      "credentials": {
        "slackApi": {
          "id": "7JXTZMhkmFO59PyA",
          "name": "Access Token - [ j.ahmed.ja7a7@gmail.com ]"
        }
      }
    },
    {
      "parameters": {
        "content": "## Respond To Different Channel Based On the Triggers",
        "height": 760,
        "width": 620,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1008,
        288
      ],
      "id": "0040ae75-0805-4784-a460-8d7975ea0a89",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-09-15T12:15:06.275Z",
      "createdAt": "2025-09-15T12:15:06.275Z",
      "role": "workflow:owner",
      "workflowId": "fKnr8md0iRmXdxAE",
      "projectId": "2lFcYqGDoW8pSvlN"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-27T20:05:36.000Z",
  "versionId": "28793239-641b-4c48-833a-f3594f0bb434"
}