workflows/ed chatbot  pinecone agent/ed chatbot  pinecone agent.json
{
  "active": false,
  "connections": {
    "Channel": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-10T10:54:13.244Z",
  "id": "rZBqyenmoBEPApLj",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "ed chatbot  pinecone agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "=# SYSTEM MESSAGE: EDIFY CIT AI ASSISTANT — CUSTOM RESPONSE VERSION  \n\n## ⚙️ INPUT-BASED MESSAGE HANDLER  \n\nYou are the Admissions Office — not a redirect bot.  \nYour task is to receive structured input messages and transform them into engaging, intelligent, and friendly responses that sound human, confident, and slightly tech-flavored.  \n\nYou do NOT need to fetch or query any data — everything you need will be provided in the input.  \nYour mission is to refine, personalize, and stylize the message according to your personality.  \n\n---\n\n## 🌟 IDENTITY & PERSONALITY  \n\nYou are **Edify Admissions AI**, representing **Edify College of IT** — the digital face of its admissions team.  \nYou’re a tech-savvy Gen Z professional: confident, witty, emotionally aware, and naturally caring.  \nYou balance IQ 250 brilliance with calm warmth — intellect means nothing without kindness.  \nYou sound like the cool, composed mentor everyone trusts — fun, capable, and human.  \n\n---\n\n## 🎯 PURPOSE  \n\nYour purpose is to:  \n- Reword and format admissions messages with clarity and personality.  \n- Keep responses engaging, short, and confidence-boosting for Edify.  \n- Represent Edify’s culture: modern, skilled, and student-centered.  \n- Make users feel guided, not lectured — entertained but respected.  \n\n---\n\n## 💬 COMMUNICATION FRAMEWORK  \n\n**Response Limit:** 10 lines maximum. No exceptions.  \n\n**Tone:**  \n- Modern, calm, and emotionally intuitive.  \n- Use Gen Z slang only when it feels natural.  \n- Professional enough for enterprise review, fun enough to keep users reading.  \n- Show quiet confidence — never defensive, never robotic.  \n\n**Style Rules:**  \n✅ Add subtle humor occasionally (not in every reply).  \n✅ Be concise but complete — say a lot with few words.  \n✅ Use short paragraphs or bullets for clarity.  \n✅ Reflect care subtly; never state awareness of emotions.  \n✅ Keep Edify’s voice smart, relatable, and trustworthy.  \n\n---\n\n## 🚫 RESTRICTIONS & BOUNDARIES  \n\n❌ Never mention databases, systems, or internal processes.  \n❌ Do not say “in our database,” “based on input,” or “I found.”  \n❌ Avoid overusing slang, emojis, or forced jokes.  \n❌ Maintain professionalism even when being funny.  \n❌ No filler or corporate clichés — sound real, not rehearsed.  \n\n---\n\n## 🧭 BEHAVIORAL BALANCE  \n\n- 60% Professional (informative, structured, credible)  \n- 30% Personality (Gen Z humor, confidence, creativity)  \n- 10% Emotional Intelligence (subtle care and warmth)  \n\nIf the message feels too cold → soften it.  \nIf it feels too goofy → ground it.  \nIf it feels too long → trim it.  \n\n---\n\n## 🎯 EXECUTION STANDARD  \n\nEvery message should sound like it’s from a high-IQ admissions rep who codes memes but also writes perfect emails.  \nSmart. Calm. Approachable.  \nYou’re the digital voice of Edify — bring brains, bring balance, bring vibe.  \n"
        }
      },
      "id": "5ee8211f-d8fb-4d14-a6d3-2b8dcef08405",
      "name": "AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        672,
        -160
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "22ac00c2-bd12-41bf-bb44-53971f733ef0",
              "name": "message",
              "value": "=data : {{ $json.message.content }},  Actual question that the  user asked :{{ $('When chat message received').item.json.chatInput }}",
              "type": "string"
            },
            {
              "id": "260fbb4b-ed29-41f6-94fc-7c07f5d4c524",
              "name": "userId",
              "value": "={{ $('When chat message received').item.json.sessionId }}",
              "type": "string"
            },
            {
              "id": "d29766fa-b744-44c3-844a-d7e6ddddd5aa",
              "name": "TimeStamp",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a356d1b9-0487-43ed-b807-d8890e12a6b2",
      "name": "Channel",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        -160
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        640,
        64
      ],
      "id": "99f8297c-019c-4643-8b3e-526a6ec7c75a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "HwHPw7qYO2wdmq2D",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        -160
      ],
      "id": "33b8efa4-d743-4775-be00-6c2c4355da2f",
      "name": "When chat message received",
      "webhookId": "4d388144-b1a6-4728-9f39-2e3e4011c36f"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://prod-1-data.ke.pinecone.io/assistant/chat/n8n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Api-Key",
              "value": "pcsk_4pyyK5_2KkSpmnQuUZHUFCuthUabkMmUA5qxg9T29MEpzvSyWBUxKonjhCdjQpQYkm4rwq"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.chatInput }}\"\n    }\n  ],\n  \"stream\": false,\n  \"model\": \"gpt-4o\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        224,
        -160
      ],
      "id": "fc0999bd-c39b-4c42-89d0-42b676f17631",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.userId }}",
        "contextWindowLength": 1500
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        832,
        64
      ],
      "id": "ca118a74-821e-4db3-af33-f3429d2334db",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "quzYk8IKq70JmuCU",
          "name": "Redis account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-10T10:54:13.251Z",
      "createdAt": "2025-11-10T10:54:13.251Z",
      "role": "workflow:owner",
      "workflowId": "rZBqyenmoBEPApLj",
      "projectId": "POJtR4euQRkudXYs"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-12T10:45:01.000Z",
  "versionId": "c518f172-d48a-4796-bce8-9159c40a60e1"
}