workflows/Daily News AI Bot/Daily News AI Bot.json
{
  "active": false,
  "connections": {
    "Merge GNews & NewsAPI": {
      "main": [
        [
          {
            "node": "AI News Summarizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map to articles": {
      "main": [
        [
          {
            "node": "Merge GNews & NewsAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map to articles1": {
      "main": [
        [
          {
            "node": "Merge GNews & NewsAPI",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get GNews articles": {
      "main": [
        [
          {
            "node": "Map to articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get NewsAPI articles": {
      "main": [
        [
          {
            "node": "Map to articles1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Every Day at 10am": {
      "main": [
        [
          {
            "node": "Get GNews articles",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get NewsAPI articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI News Summarizer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI News Summarizer",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "AI News Summarizer": {
      "main": [
        [
          {
            "node": "Send summary to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-31T13:37:00.369Z",
  "id": "2rQL7IkULicpc4sB",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Daily News AI Bot",
  "nodes": [
    {
      "parameters": {},
      "id": "8d966a28-400f-4d02-89e7-e4065f711256",
      "name": "Merge GNews & NewsAPI",
      "type": "n8n-nodes-base.merge",
      "position": [
        720,
        192
      ],
      "typeVersion": 3.1
    },
    {
      "parameters": {
        "chatId": "=8225825285",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "a4af6b19-c918-484d-8204-392d2b43fd39",
      "name": "Send summary to Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1392,
        144
      ],
      "webhookId": "21eb8e1c-87de-45af-888d-699fbd443bc8",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "TrjCMA928DvkeABC",
          "name": "n8n-P"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "articles",
              "type": "string",
              "value": "={{ $json.articles }}",
              "id": "f030ab1f-df47-49fd-9a2e-020622f8a8f6"
            }
          ]
        },
        "options": {}
      },
      "id": "8f18fcab-c5c8-4c31-8bfc-dd4fc1b2831e",
      "name": "Map to articles",
      "type": "n8n-nodes-base.set",
      "position": [
        384,
        96
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "articles",
              "type": "string",
              "value": "={{ $json.articles }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e76a4388-f9bf-4c42-9edb-400c075a6e7e",
      "name": "Map to articles1",
      "type": "n8n-nodes-base.set",
      "position": [
        384,
        304
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "url": "https://gnews.io/api/v4/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "Finances"
            },
            {
              "name": "lang",
              "value": "en"
            },
            {
              "name": "apikey",
              "value": "b728150f61516ac6108fb418da199f4d"
            }
          ]
        },
        "options": {}
      },
      "id": "6b960727-3b1e-49ca-946b-820bd8eeb43c",
      "name": "Get GNews articles",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        144,
        96
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/everything",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "Finances"
            },
            {
              "name": "language",
              "value": "en"
            },
            {
              "name": "sortBy",
              "value": "publishedAt"
            },
            {
              "name": "pageSize",
              "value": "20"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "53f15d72e87d4ab3bc298d77be10e94e"
            }
          ]
        },
        "options": {}
      },
      "id": "3b4cd221-4784-4dcb-9ba1-fa309f5f383f",
      "name": "Get NewsAPI articles",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        144,
        304
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "id": "05f0c6c4-8aab-4daa-a322-8a7aff778e6c",
      "name": "Trigger Every Day at 10am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -304,
        192
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "## Get the Most Recent Articles",
        "height": 540,
        "width": 640
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "82570869-55e6-40b5-a68e-8d93e89a8c77",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Create Summarizon & Send via Telegram",
        "height": 540,
        "width": 720,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        896,
        0
      ],
      "id": "9a87533b-1209-4ed8-ab83-c7fb1141da5e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        944,
        384
      ],
      "id": "e310e98e-09ce-4b3d-bb90-66434cb4c560",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "wNJ4kmgaGyK198C4",
          "name": "blyt69kun@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1104,
        384
      ],
      "id": "a5926401-07eb-46c1-8c7b-0dff38a39617",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "CUz8utBxtWQreX8c",
          "name": "j.ahmed.ja7a7@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=** Select Top Articles **\nFrom {{$json.articles}}, choose the 15 most relevant articles related to finances advancements, tools, research, and applications.\n\n** Summarize Clearly **\nWrite in clear, professional, and readable language, summarizing the main point of each article in 1-2 short sentences.\n\n** Include Links **\nAfter each summary, add the article's URL for readers to explore more.\n\n** Add the Date **\nBegin the summary with today’s date:\n{{ $now.format('yyyy/MM/dd') }}\n",
        "needsFallback": true,
        "options": {
          "systemMessage": "** Output Format **\nOnly return the summary in plain text – no explanations or additional formatting. Keep the response up to 2000 characters"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1024,
        144
      ],
      "id": "6de09266-5b13-49c3-b65f-ac0a4f1fddf3",
      "name": "AI News Summarizer"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        1392,
        336
      ],
      "id": "a391b59f-6f1a-41d5-9b99-1c36979aae5b",
      "name": "Telegram Trigger",
      "webhookId": "382f875c-ee38-446a-89b4-37f878ed8f78",
      "credentials": {
        "telegramApi": {
          "id": "TrjCMA928DvkeABC",
          "name": "n8n-P"
        }
      }
    }
  ],
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 828200252,
          "message": {
            "message_id": 112,
            "from": {
              "id": 8225825285,
              "is_bot": false,
              "first_name": "Junaid",
              "last_name": "Ahmad",
              "language_code": "en"
            },
            "chat": {
              "id": 8225825285,
              "first_name": "Junaid",
              "last_name": "Ahmad",
              "type": "private"
            },
            "date": 1756131169,
            "text": "Hiiiii"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-08-31T13:37:00.376Z",
      "createdAt": "2025-08-31T13:37:00.376Z",
      "role": "workflow:owner",
      "workflowId": "2rQL7IkULicpc4sB",
      "projectId": "2lFcYqGDoW8pSvlN"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-13T18:33:14.000Z",
  "versionId": "6fb1a6e8-3f42-493b-b6c2-b6248fce1d5c"
}