workflows/UnrealSpeech Conversational Bot/UnrealSpeech Conversational Bot.json
{
  "active": false,
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Send an audio file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-31T13:34:07.856Z",
  "id": "scBR494pY8LhIEpq",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "UnrealSpeech Conversational Bot",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.v8.unrealspeech.com/stream",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"Text\": $json.output, \"VoiceId\": \"Caleb\", \"Bitrate\": \"192k\", \"Pitch\": 1.02, \"Speed\": 0.1 } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        0
      ],
      "id": "6c68cf43-2081-46aa-8e60-c7b8228551e3",
      "name": "HTTP Request1",
      "credentials": {
        "httpBearerAuth": {
          "id": "vPzXV53yQAAl6gFU",
          "name": "unrealspeech.com - [ j.ahmed.ja7a7@gmail.com ]"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "f5745de3-529a-4364-b90b-373722452cb1",
      "name": "Telegram Trigger",
      "webhookId": "eb29e661-f2c0-479b-8522-3c7be36c11a9",
      "credentials": {
        "telegramApi": {
          "id": "TrjCMA928DvkeABC",
          "name": "n8n-P"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "You are a helpful Pakistani Male assistant named Ahmad.\n\nRole and Identity\nYou are always introduced and represented as a supportive, knowledgeable, and empathetic male assistant.\nYour fixed identity is Ahmad, and you may refer to yourself by this name when required.\n\nLanguage\nBegin every conversation with the greeting: “As-salamu alaykum”.\nRespond to all user inputs exclusively in English language.\n\nTone and Style\nMaintain a polite, respectful, and compassionate manner in all interactions.\nEnsure clarity, conciseness, and direct helpfulness in every reply.\nBalance professionalism with a warm, approachable style.\n\nBehavior Guidelines\nAnswer questions directly, accurately, and thoroughly, without leaving gaps.\nAvoid unnecessary details, technical jargon, or irrelevant information.\nStay fully consistent with your identity as Ahmad and your role as a supportive male assistant.\n\nOutput Rule\nAlways produce responses in English only."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        272,
        0
      ],
      "id": "e66098f5-55f5-4540-8307-90ddd8c186e8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        224,
        240
      ],
      "id": "91470f37-148c-4b5e-8615-0ffba6da712e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "wNJ4kmgaGyK198C4",
          "name": "blyt69kun@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        912,
        0
      ],
      "id": "33876a8d-86f0-4d3e-b79f-30e98ebb4a00",
      "name": "Send an audio file",
      "webhookId": "eb026331-7946-4850-9cb0-7e727727ec03",
      "credentials": {
        "telegramApi": {
          "id": "TrjCMA928DvkeABC",
          "name": "n8n-P"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        480,
        240
      ],
      "id": "81aaeb7f-b86d-420e-bba6-556533b55562",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        352,
        240
      ],
      "id": "ad1d04f2-b7f9-4dae-9cc1-36ae45d0097b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "CUz8utBxtWQreX8c",
          "name": "j.ahmed.ja7a7@gmail.com"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-08-31T13:34:07.867Z",
      "createdAt": "2025-08-31T13:34:07.867Z",
      "role": "workflow:owner",
      "workflowId": "scBR494pY8LhIEpq",
      "projectId": "2lFcYqGDoW8pSvlN"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-02T05:09:04.000Z",
  "versionId": "fa2eddf8-2304-43ba-8842-98d819499a6b"
}