workflows/AI Invoice Processor/AI Invoice Processor.json
{
  "active": false,
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Invoice Controller",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Create a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a database page": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a database page1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        []
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Invoice Controller",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invoice Controller": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Invoice Controller",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create a database page1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Get a database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a database": {
      "main": [
        [
          {
            "node": "Update a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-04T05:19:15.550Z",
  "id": "Hat6BJP4SiYRjVvZ",
  "isArchived": false,
  "meta": null,
  "name": "AI Invoice Processor",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "q": "filename:pdf has:attachment"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        112,
        352
      ],
      "id": "1f622f7f-e69b-464d-bed2-26857da947cd",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "Q458x3HuWMnd4WaH",
          "name": "OAuth - [ j.ahmed.ja7a7@gmail.com ]"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ef3261c-3cac-4f2f-a9f1-57d79183a85d",
              "name": "attachments",
              "value": "={{ $('Gmail Trigger').item.binary.keys() }}",
              "type": "array"
            },
            {
              "id": "6b9075da-0725-41e9-ba85-c9b5ed12ee3a",
              "name": "message_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        192
      ],
      "id": "b9a2a580-3b58-48c4-863f-8048e7aa78f7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "attachments",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        480,
        192
      ],
      "id": "99e54694-88b8-493d-b72b-5a53965d849e",
      "name": "Split Out"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "message_id",
              "field2": "id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        704,
        320
      ],
      "id": "9f1dea19-36d5-4d8c-9473-27e68096e08a",
      "name": "Merge"
    },
    {
      "parameters": {
        "inputDataFieldName": "={{ $json.attachments }}",
        "name": "={{ $('Gmail Trigger').item.json.headers.subject }}_{{ $json.attachments }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1FTWi831Ky6GhnrJO4ra-YpW0q0rr4Yin",
          "mode": "list",
          "cachedResultName": "Edify-n8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1FTWi831Ky6GhnrJO4ra-YpW0q0rr4Yin"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        912,
        320
      ],
      "id": "2d2bca22-635c-429b-aa8d-9a63e11d9030",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HFA8dFUuiJNxyN15",
          "name": "OAuth - [ j.ahmed.ja7a7@gmail.com ]"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1104,
        320
      ],
      "id": "d30776bf-7232-411a-a86e-e9b4c117b9c8",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HFA8dFUuiJNxyN15",
          "name": "OAuth - [ j.ahmed.ja7a7@gmail.com ]"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1312,
        320
      ],
      "id": "c851e7e5-ac33-4039-a067-b6428ee1517f",
      "name": "Extract from File",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Task Overview\nYou’ll receive raw text extracted from PDF invoices. Your job is to identify the key details listed below and return them in a structured JSON object.\n\nInformation to Capture\n\ninvoice_name – the identifier or title of the invoice\n\ncompany_name – the name of the business that issued the invoice\n\ntotal_invoice_amount – the grand total shown on the invoice\n\nline_items – an array where each entry includes:\n• description – the item or service label\n• amount – the cost for that item\n\nOutput Format (example)\n{\n  \"invoice_name\": \"Invoice ABC-123\",\n  \"company_name\": \"Acme Corp\",\n  \"total_invoice_amount\": 1000,\n  \"line_items\": [\n    { \n      \"description\": \"Consulting services\", \"amount\": 100 \n    },\n    { \n      \"description\": \"Software license\", \"amount\": 800 \n    },\n    { \n      \"description\": \"Sales tax\", \"amount\": 100 \n    }\n  ]\n}\n\nGuidelines\n\nIf any detail is missing or unclear, make your best estimate or use null.\n\nProvide the most specific line-item labels available; use generic placeholders only when no description exists.\n\nVerify that the line-item amounts add up to the total invoice amount (minor rounding differences are acceptable).\n\nInput Placeholder\nText: {{ $('Extract from File').item.json.text }}",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        2848,
        304
      ],
      "id": "90102bfa-5d29-479f-a3fb-553edecf7baf",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"invoice_name\": \"Invoice ABC-123\",\n  \"company_name\": \"Acme Corp\",\n  \"total_invoice_amount\": 1000,\n  \"line_items\": [\n    { \n      \"description\": \"Consulting services\", \"amount\": 100 \n    },\n    { \n      \"description\": \"Software license\", \"amount\": 800 \n    },\n    { \n      \"description\": \"Sales tax\", \"amount\": 100 \n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        3008,
        480
      ],
      "id": "96826347-9023-4552-a88a-c0108d499ac5",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "2652762d-3ce6-800d-98c5-ea373d008ce1",
          "mode": "list",
          "cachedResultName": "2652762d-3ce6-800d-98c5-ea373d008ce1",
          "cachedResultUrl": "https://www.notion.so/2652762d3ce6800d98c5ea373d008ce1"
        },
        "title": "={{ $json.output.company_name }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Name|title",
              "title": "={{ $('Gmail Trigger').item.json.subject }}"
            },
            {
              "key": "Email|email",
              "emailValue": "={{ $('Gmail Trigger').item.json.to.value[0].address }}"
            },
            {
              "key": "URL|url",
              "urlValue": "={{ $('Upload file').item.json.webViewLink }}"
            },
            {
              "key": "Number|number",
              "numberValue": "={{ $json.output.total_invoice_amount }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        3200,
        304
      ],
      "id": "97b06e8d-0d45-4644-a361-fe813269a7ff",
      "name": "Create a database page",
      "credentials": {
        "notionApi": {
          "id": "0yoykyHupJl7TnQb",
          "name": "j.ahmed.ja7a7@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6b9b30bf-b866-437d-b244-f533b71aef51",
              "name": "line_items",
              "value": "={{ $('Basic LLM Chain').item.json.output.line_items }}",
              "type": "array"
            },
            {
              "id": "1ad359b2-bbd7-4a1f-997e-205054566b98",
              "name": "subject_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3424,
        304
      ],
      "id": "cf64a960-f4a1-418f-ae13-fa8403996c39",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "=line_items",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3648,
        304
      ],
      "id": "36cd6c8d-4be5-4697-9c3d-f98e07a95f79",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        4128,
        304
      ],
      "id": "4a5be75b-f8ae-4654-8a82-114e1575aa25",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4384,
        240
      ],
      "id": "98e877f8-e632-4e14-b1e6-91e5f7edaf2f",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1632,
        512
      ],
      "id": "48608e46-22f7-40b1-8bb1-b8bac9151550",
      "name": "OpenAI Chat Model1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\"status\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1968,
        480
      ],
      "id": "712a349b-61c0-4eb0-ba45-78ea24af5e64",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b5cbcaf4-583b-425c-b3e8-02789d87ec20",
              "leftValue": "={{ $json.output.status }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2080,
        320
      ],
      "id": "83a5b2b5-843e-4dbd-a492-a60b960203a3",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Download file').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2368,
        512
      ],
      "id": "952ba4c2-22e1-407f-9bba-09bf34ccdcfa",
      "name": "Delete a file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HFA8dFUuiJNxyN15",
          "name": "OAuth - [ j.ahmed.ja7a7@gmail.com ]"
        }
      }
    },
    {
      "parameters": {
        "content": "# Get & Prepare Documents",
        "height": 700,
        "width": 1480,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "9de70682-7367-4f05-b13b-4716ef3ca0a1",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Check for The Invoice",
        "height": 700,
        "width": 1100,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1504,
        0
      ],
      "id": "d9d26535-dc8d-4dd3-b2d8-aecaee3e080d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Extract & Save Information",
        "height": 700,
        "width": 1240,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2624,
        0
      ],
      "id": "391d7378-a52d-4b4d-8ac3-a8e13802e0bb",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Save Subitems",
        "height": 700,
        "width": 1160
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3888,
        0
      ],
      "id": "21dad891-ed0b-4e43-9e4c-23864b2995f9",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Based on the text decide if the text is about an invoice or not: {{ $json.text }}\n\nIf yes return \"yes\", if no return \"no\". Don't provide any additional information. Use only small letters",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1760,
        320
      ],
      "id": "aef9ad4e-a1cc-4812-8f8b-42f30ec70b9d",
      "name": "Invoice Controller"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2736,
        512
      ],
      "id": "b13d45da-3ff0-4470-a6f8-af9e30bc09a4",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "CUz8utBxtWQreX8c",
          "name": "j.ahmed.ja7a7@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1744,
        528
      ],
      "id": "6a3ea8b5-856f-4f5d-aefa-0cdf704b51b0",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "CUz8utBxtWQreX8c",
          "name": "j.ahmed.ja7a7@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "2652762d-3ce6-8085-b149-f2611f8e2f98",
          "mode": "list",
          "cachedResultName": "Invoice Line Items",
          "cachedResultUrl": "https://www.notion.so/2652762d3ce68085b149f2611f8e2f98"
        },
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Invoice Name|title",
              "title": "={{ $('Create a database page').item.json.property_name }}"
            },
            {
              "key": "Description|rich_text",
              "richText": true,
              "text": {
                "text": [
                  {
                    "text": "={{ $json.line_items.description }}",
                    "annotationUi": {}
                  }
                ]
              }
            },
            {
              "key": "Amount|number",
              "numberValue": "={{ $json.line_items.amount }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        4384,
        432
      ],
      "id": "532efa6e-f7c9-4ef1-8873-59e41b95dfa5",
      "name": "Create a database page1",
      "credentials": {
        "notionApi": {
          "id": "0yoykyHupJl7TnQb",
          "name": "j.ahmed.ja7a7@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "resource": "database",
        "databaseId": {
          "__rl": true,
          "value": "2652762d-3ce6-800d-98c5-ea373d008ce1",
          "mode": "list",
          "cachedResultName": "Invoice",
          "cachedResultUrl": "https://www.notion.so/2652762d3ce6800d98c5ea373d008ce1"
        },
        "simple": false
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        4592,
        240
      ],
      "id": "4412c61c-7ebe-4dbb-9299-1d0f2d6a3336",
      "name": "Get a database",
      "credentials": {
        "notionApi": {
          "id": "0yoykyHupJl7TnQb",
          "name": "j.ahmed.ja7a7@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Create a database page').item.json.url }}",
          "mode": "url"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "URL|url"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        4800,
        240
      ],
      "id": "1a6dc52a-d46e-471c-ab6d-2cf6a51a2de1",
      "name": "Update a database page",
      "credentials": {
        "notionApi": {
          "id": "0yoykyHupJl7TnQb",
          "name": "j.ahmed.ja7a7@gmail.com"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-09-04T05:19:15.558Z",
      "createdAt": "2025-09-04T05:19:15.558Z",
      "role": "workflow:owner",
      "workflowId": "Hat6BJP4SiYRjVvZ",
      "projectId": "2lFcYqGDoW8pSvlN"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-05T11:22:16.000Z",
  "versionId": "1f86b547-1d95-4a79-994d-a1687ec114e1"
}