workflows/Leetcode/Leetcode.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Getting Metadata of submissions list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "If Problem Accepted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Getting Metadata of submissions list": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Problem Accepted": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-09T16:22:53.526Z",
  "id": "Pg626EU95nT2QDpQ",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Leetcode",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "e5448de9-f4f5-4a1e-a4e6-064d0ea52658",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.recentAcSubmissionList",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        448,
        0
      ],
      "id": "c6a3faeb-c136-461a-bd20-83a33bb9f595",
      "name": "Split Out"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://leetcode.com/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "LEETCODE_SESSION=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfYXV0aF91c2VyX2lkIjoiOTQ2NjUzMSIsIl9hdXRoX3VzZXJfYmFja2VuZCI6ImFsbGF1dGguYWNjb3VudC5hdXRoX2JhY2tlbmRzLkF1dGhlbnRpY2F0aW9uQmFja2VuZCIsIl9hdXRoX3VzZXJfaGFzaCI6ImVhMDFhYTYwZmIyNDgxZGRmNmNmNjA1ZTgyY2IyOGVmOTJkNWVkODY4OTI3YzJmMTUzOGJhOGNlMWUxZmE2N2YiLCJzZXNzaW9uX3V1aWQiOiIxNTg4NTBmMiIsImlkIjo5NDY2NTMxLCJlbWFpbCI6ImouYWhtZWQuamE3YTdAZ21haWwuY29tIiwidXNlcm5hbWUiOiJicjNhZF9rbzRlIiwidXNlcl9zbHVnIjoiYnIzYWRfa280ZSIsImF2YXRhciI6Imh0dHBzOi8vYXNzZXRzLmxlZXRjb2RlLmNvbS91c2Vycy9icjNhZF9rbzRlL2F2YXRhcl8xNzQ5NjQxOTQ4LnBuZyIsInJlZnJlc2hlZF9hdCI6MTc2MDAyNzY0NCwiaXAiOiIyNDAwOmFkYzc6MTBlOjQyMDA6YTA0ZTplNzY1OjM1M2Y6OWM5ZSIsImlkZW50aXR5IjoiMjIwNGVlNjNiZWYyZjM1MTQ3MGE2NmZmZTFiYjAyMGUiLCJkZXZpY2Vfd2l0aF9pcCI6WyJjNTY5NDQ0ZmQ4Mzk1NTc3ZWQ0YjQyMTE3MDM4MGMyZiIsIjI0MDA6YWRjNzoxMGU6NDIwMDphMDRlOmU3NjU6MzUzZjo5YzllIl0sIl9zZXNzaW9uX2V4cGlyeSI6MTIwOTYwMH0.v3HkOFFD0vK2D3dpGKCF_ZPQKe61XY9n2DEJG4VEpog; csrftoken=4oDAHTyBN5q08IwSczJ3ixQtmAQAD6RRaJHBM0vQhIuFpF8UIPtwrhpULK3yItX5;"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"query\": \"query submissionDetails($submissionId: Int!) { submissionDetails(submissionId: $submissionId) {        code lang { name }}}\",\n    \"variables\": {\n        \"submissionId\": {{ $json.id }}\n    }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        896,
        -96
      ],
      "id": "a98bbb76-6aa3-4eed-ae41-8cf9c56d11cd",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://leetcode.com/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "LEETCODE_SESSION=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfYXV0aF91c2VyX2lkIjoiOTQ2NjUzMSIsIl9hdXRoX3VzZXJfYmFja2VuZCI6ImFsbGF1dGguYWNjb3VudC5hdXRoX2JhY2tlbmRzLkF1dGhlbnRpY2F0aW9uQmFja2VuZCIsIl9hdXRoX3VzZXJfaGFzaCI6ImVhMDFhYTYwZmIyNDgxZGRmNmNmNjA1ZTgyY2IyOGVmOTJkNWVkODY4OTI3YzJmMTUzOGJhOGNlMWUxZmE2N2YiLCJzZXNzaW9uX3V1aWQiOiIxNTg4NTBmMiIsImlkIjo5NDY2NTMxLCJlbWFpbCI6ImouYWhtZWQuamE3YTdAZ21haWwuY29tIiwidXNlcm5hbWUiOiJicjNhZF9rbzRlIiwidXNlcl9zbHVnIjoiYnIzYWRfa280ZSIsImF2YXRhciI6Imh0dHBzOi8vYXNzZXRzLmxlZXRjb2RlLmNvbS91c2Vycy9icjNhZF9rbzRlL2F2YXRhcl8xNzQ5NjQxOTQ4LnBuZyIsInJlZnJlc2hlZF9hdCI6MTc2MDAyNzY0NCwiaXAiOiIyNDAwOmFkYzc6MTBlOjQyMDA6YTA0ZTplNzY1OjM1M2Y6OWM5ZSIsImlkZW50aXR5IjoiMjIwNGVlNjNiZWYyZjM1MTQ3MGE2NmZmZTFiYjAyMGUiLCJkZXZpY2Vfd2l0aF9pcCI6WyJjNTY5NDQ0ZmQ4Mzk1NTc3ZWQ0YjQyMTE3MDM4MGMyZiIsIjI0MDA6YWRjNzoxMGU6NDIwMDphMDRlOmU3NjU6MzUzZjo5YzllIl0sIl9zZXNzaW9uX2V4cGlyeSI6MTIwOTYwMH0.v3HkOFFD0vK2D3dpGKCF_ZPQKe61XY9n2DEJG4VEpog; csrftoken=4oDAHTyBN5q08IwSczJ3ixQtmAQAD6RRaJHBM0vQhIuFpF8UIPtwrhpULK3yItX5;"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"query\": \"query recentAcSubmissions($username: String!, $limit: Int!) { recentAcSubmissionList(username: $username, limit: $limit) { id statusDisplay lang title titleSlug } }\",\n    \"variables\": {\n        \"username\": \"br3ad_ko4e\",\n        \"limit\": 15\n    }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        0
      ],
      "id": "24ef2d69-7211-4242-a474-0136400b442c",
      "name": "Getting Metadata of submissions list"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8005bc9c-526b-480f-b378-bdfb7f281457",
              "leftValue": "={{ $json.statusDisplay }}",
              "rightValue": "Accepted",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        672,
        0
      ],
      "id": "73970885-1631-452d-a6ac-77cd4516de82",
      "name": "If Problem Accepted"
    },
    {
      "parameters": {
        "endpoint": "https://leetcode.com/graphql",
        "query": "query submissionDetails($submissionId: Int!) {\n  submissionDetails(submissionId: $submissionId) {\n    code\nlang {\nname\n  }\n}",
        "variables": "={\n\"variables\": {\n        \"submissionId\": {{ $json.id }}\n  }\n}",
        "responseFormat": "string",
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Referer",
              "value": "https://n8n.br3adko4e.tech/"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "position": [
        912,
        208
      ],
      "id": "12597ba4-4a34-42e9-b09e-230f0162dc26",
      "name": "GraphQL",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "038c4d34-583a-4756-8140-7996975228f9",
              "name": "titleSlug",
              "value": "={{ $('Split Out').item.json.titleSlug }}",
              "type": "string"
            },
            {
              "id": "6dffd74e-9879-4c88-af7a-972dc66ae468",
              "name": "code",
              "value": "={{ $json.data.submissionDetails.code }}",
              "type": "string"
            },
            {
              "id": "dc6eec1e-d38d-40b2-b9ff-2334839b0023",
              "name": "language",
              "value": "={{ $json.data.submissionDetails.lang.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        -96
      ],
      "id": "f2f59094-92c1-41c1-9c15-5fa02c4796d0",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "37fd1815-fcf9-46f9-91e1-659679ed1596",
              "name": "filename",
              "value": "={{ $json.titleSlug }}.{{ \n  (() => {\n    switch($json.language) {\n      case 'python3': return 'py';\n      case 'python': return 'py';\n      case 'javascript': return 'js';\n      case 'typescript': return 'ts';\n      case 'java': return 'java';\n      case 'cpp': return 'cpp';\n      case 'csharp': return 'cs';\n      case 'golang': return 'go';\n      default: return 'txt';\n    }\n  })() \n}}",
              "type": "string"
            },
            {
              "id": "3a9862f2-496a-4daf-8f4a-ea480fe442bb",
              "name": "content",
              "value": "={{ $json.code }}",
              "type": "string"
            },
            {
              "id": "93fb7499-f0e9-4874-ac37-12cd33d3a681",
              "name": "Commit",
              "value": "=Accepted {{ $json.titleSlug }}.{{ $json.language }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1312,
        -96
      ],
      "id": "8b05a67c-0a3f-4b21-a67f-5369818c8bd0",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "d0t-J",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "test",
          "mode": "list",
          "cachedResultName": "test",
          "cachedResultUrl": "https://github.com/d0t-J/test"
        },
        "filePath": "={{ $json.filename }}",
        "fileContent": "={{ $json.content }}",
        "commitMessage": "={{ $json.Commit }}",
        "additionalParameters": {
          "branch": {
            "branch": "main"
          }
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1936,
        0
      ],
      "id": "1513404d-553d-4c3b-9dcf-740885031358",
      "name": "Create a file",
      "webhookId": "1399e821-cbc1-4ade-9a8e-c4eb41edc08e",
      "credentials": {
        "githubApi": {
          "id": "wx1jyvjkrqHttL6i",
          "name": "Token - [ n8n @ d0t-j ]"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "d0t-J",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "d0t-j",
          "mode": "list",
          "cachedResultName": "d0t-j",
          "cachedResultUrl": "https://github.com/d0t-J/d0t-j"
        },
        "filePath": "README.md",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1520,
        -96
      ],
      "id": "f4d3920a-826e-4629-a17b-c3e24ea35532",
      "name": "Get a file",
      "webhookId": "41077ada-0580-499b-8dc1-2311ea40b5d9",
      "alwaysOutputData": false,
      "credentials": {
        "githubApi": {
          "id": "wx1jyvjkrqHttL6i",
          "name": "Token - [ n8n @ d0t-j ]"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ab8d38cf-4494-4969-b3be-2b034a4197d9",
              "leftValue": "data",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1728,
        -96
      ],
      "id": "64c6fd23-e137-40a3-ab88-3518166d4631",
      "name": "If"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-09T16:22:53.536Z",
      "updatedAt": "2025-10-09T16:22:53.536Z",
      "role": "workflow:owner",
      "workflowId": "Pg626EU95nT2QDpQ",
      "projectId": "2lFcYqGDoW8pSvlN"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-09T18:18:49.000Z",
  "versionId": "9c84a51e-222b-4db2-8cbe-023257e5ba68"
}