workflows/Practice/Practice.json
{
  "active": false,
  "connections": {
    "Apollo URL Generator": {
      "main": [
        [
          {
            "node": "Scrape Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Leads": {
      "main": [
        [
          {
            "node": "Get Run Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Run Status": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get CSV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Run Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get CSV": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Upload to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Sheets": {
      "main": [
        [
          {
            "node": "Custom Messaging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Custom Messaging",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Custom Messaging": {
      "main": [
        [
          {
            "node": "Add Lead to Instantly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Apollo URL Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Custom Messaging",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Apollo URL Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Add an agent to the launch queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search on booking": {
      "main": [
        [
          {
            "node": "Scrape URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape URL": {
      "main": [
        [
          {
            "node": "Scrape using HTML API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-05T12:48:15.081Z",
  "id": "GTcEIsbL2TW3xVdb",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Practice",
  "nodes": [
    {
      "parameters": {
        "content": "## ❄️ Cold Outreach Machine 4.0\n## | [Created by Chase AI](https://www.skool.com/chase-ai)\n\n## How it Works\n### - Define your search parameters\n### - Generate Apollo URL for scraping\n### - Apollo data scraped via AmpleLeads\n### - CSV data extracted + uploaded to Sheets\n### - Custom messaging generated via OpenAI\n### - Leads + messaging uploaded to Instantly\n\n## APIs Needed\n### - [AmpleLeads](https://app.ampleleads.io/apollo-scraper)\n### - [Instantly](https://app.instantly.ai/app/settings/integrations)\n\n## Google Sheets Template\n### - [Sheets](https://docs.google.com/spreadsheets/d/1j46TWB12zm-jD3T14giZZjHGx-EzK2tZh4-ss_FHQC8/edit?usp=sharing) (Make your own copy)",
        "height": 640,
        "width": 512,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -352,
        -256
      ],
      "id": "219dd7f1-2dda-4d48-9d28-a83cd5c46199",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Job Title: {{ $json['Job Title'] }}\n\nCompany Size: {{ $json['Company Size'] }}\n\nKeywords: {{ $json.Keywords }}\n\nLocation: {{ $json.Location }}\n\n\n",
        "messages": {
          "messageValues": [
            {
              "message": "=You are an expert Apollo.io search URL generator. Your task is to convert form data into a precise Apollo search URL.\n\n**CRITICAL INSTRUCTIONS:**\n\n1.  **Handle Multiple Values**: Fields like 'Job Title', 'Keywords', and 'Location' can contain multiple items separated by a comma. When you see a comma-separated list, you **MUST** create a separate URL parameter for **EACH** item in the list.\n    * _Example for Titles:_ `personTitles[]=Founder&personTitles[]=CEO`\n    * _Example for Locations:_ `personLocations[]=United%20States&personLocations[]=Austin`\n\n2.  **Supported Fields & URL Parameters**:\n    * **Location**: Maps to `personLocations[]`. Create one for each location in the list.\n    * **Job Title**: Maps to `personTitles[]`. Create one for each title in the list.\n    * **Company Size**: Maps to `organizationNumEmployeesRanges[]`. This is a single value and should use a hyphen (e.g., `1-10`).\n    * **Keywords**: Maps to `qOrganizationKeywordTags[]`. Create one for each keyword in the list.\n\n3.  **URL Encoding**: Ensure all values are properly URL-encoded (e.g., spaces become `%20`, and commas within a single location value like \"Austin, Texas\" become `%2C`).\n\n---\n\n**EXAMPLE:**\n\n**Input Data:**\nJob Title: Founder, CEO, President\nCompany Size: 1-10\nKeywords: Fintech, SaaS\nLocation: United States, Austin, Texas, Boston\n\n**Your Output (must be this exact format):**\nhttps://app.apollo.io/#/people?personTitles[]=Founder&personTitles[]=CEO&personTitles[]=President&organizationNumEmployeesRanges[]=1-10&qOrganizationKeywordTags[]=Fintech&qOrganizationKeywordTags[]=SaaS&personLocations[]=United%20States&personLocations[]=Austin%2C%20Texas&personLocations[]=Boston"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        464,
        -192
      ],
      "id": "af10fe7a-ac6e-489c-9f2a-dd431d06a1f3",
      "name": "Apollo URL Generator"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ampleleads.io/v1/apollo/scrape",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"apollo_url\": \"{{ $json.text }}\",\n  \"fetch_count\": {{ $('On form submission').item.json['Amount of Leads to Generate'] }}\n}",
        "options": {}
      },
      "id": "56b3620a-6faf-49a8-8cbf-a6e1685f1990",
      "name": "Scrape Leads",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        752,
        -192
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpQueryAuth": {
          "id": "qjrdS2Qc5rGl0PJL",
          "name": "AmpleLeads"
        },
        "httpBearerAuth": {
          "id": "rN6sStOXwszIoBZE",
          "name": "instantly.io"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.ampleleads.io/v1/apollo/status/{{ $json.data.run_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        -192
      ],
      "id": "b2bf13fd-984d-4c5a-ab7f-44903ded37ce",
      "name": "Get Run Status",
      "credentials": {
        "httpBearerAuth": {
          "id": "vPzXV53yQAAl6gFU",
          "name": "unrealspeech.com - [ j.ahmed.ja7a7@gmail.com ]"
        },
        "httpQueryAuth": {
          "id": "qjrdS2Qc5rGl0PJL",
          "name": "AmpleLeads"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9c4063c3-48aa-45f4-89c3-57e2f4d1eb28",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1136,
        -192
      ],
      "id": "c2d8ea19-e343-4066-9569-573d6f0905cf",
      "name": "If"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1344,
        -176
      ],
      "id": "a8494847-558f-4d3c-9070-679b30153bc1",
      "name": "Wait",
      "webhookId": "a7e5f913-f4fb-4e2e-9cbd-3dad6c177b14",
      "executeOnce": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        496,
        96
      ],
      "id": "8fb34e40-56ac-4e22-9565-b313cedb96e5",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "url": "={{ $json.data.output_csv_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        96
      ],
      "id": "c40a1061-ad9f-4c10-8c14-7ff2186a584a",
      "name": "Get CSV"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "18dkhgZHdR6r686G-_qfI6r1ugfJ-nMg3QELDv3efP_M",
          "mode": "list",
          "cachedResultName": "Scraper",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18dkhgZHdR6r686G-_qfI6r1ugfJ-nMg3QELDv3efP_M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18dkhgZHdR6r686G-_qfI6r1ugfJ-nMg3QELDv3efP_M/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "First Name": "={{ $json.first_name }}",
            "Last Name": "={{ $json.last_name }}",
            "Company Name": "={{ $json.company_name }}",
            "Company Website": "={{ $json.company_website }}",
            "Email": "={{ $json.email }}",
            "Full Name": "={{ $json.full_name }}",
            "LinkedIn": "={{ $json.linkedin }}",
            "Title": "={{ $json.title }}",
            "Industry": "={{ $json.industry }}",
            "Headline": "={{ $json.headline }}",
            "City": "={{ $json.city }}",
            "State": "={{ $json.state }}",
            "Country": "={{ $json.country }}",
            "Employees Count": "={{ $json.employees_count }}",
            "Keywords": "={{ $json.keywords }}",
            "Company SEO Description": "={{ $json.company_seo_description }}",
            "Company Short Description": "={{ $json.company_short_description }}",
            "Company Linkedin": "={{ $json.company_linkedin }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Website",
              "displayName": "Company Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LinkedIn",
              "displayName": "LinkedIn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Headline",
              "displayName": "Headline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "State",
              "displayName": "State",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Employees Count",
              "displayName": "Employees Count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company SEO Description",
              "displayName": "Company SEO Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Short Description",
              "displayName": "Company Short Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Linkedin",
              "displayName": "Company Linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        688,
        96
      ],
      "id": "ac3d733b-4445-4070-a2ae-d749bfdd9058",
      "name": "Upload to Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YAefgAsgr3ppFBcL",
          "name": "OAuth - [ j.ahmed.ja7a7@gmail.com ]"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"normalName\": \"Engler Distributing\",\n\t\"icebreaker\": \"Love what you're doing with Effective Sign Works. Bob's philosophy of 'only as good as your last job' really resonates. Wanted to reach out.\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1008,
        256
      ],
      "id": "1c476bd1-c18c-428f-950c-30e2482e4f7c",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Company name: {{ $json['Company Name'] }}\n\nCompany background: {{ $json['Company Short Description'] }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are a company name normalizer and icebreaker generator for cold outreach emails.\n\nTASK 1: NORMALIZE COMPANY NAME\nTake the official company name and output the casual conversational version:\n- Remove LLC, Inc., Corp., Ltd., etc.\n- Remove colons, slashes, taglines, and descriptive phrases\n- Fix ALL CAPS to proper case\n- Keep ampersands (&) and \"Co.\" when they're part of the core name\n- Output how the company name would be spoken in conversation\n\nTASK 2: CREATE ICEBREAKER\nCreate one natural sentence: \"Love what you're doing with [company], especially [unique thing we noticed]. Wanted to reach out.\"\n\nREQUIREMENTS:\n- Pick the most SURPRISING/INTERESTING detail that makes them unique\n- Keep the \"especially\" part to MAXIMUM 10 words\n- PARAPHRASE in simple, natural language\n- USE VARIED SENTENCE STRUCTURES - mix up your phrasing naturally\n- Focus on what made you think \"oh, that's clever/different\"\n- Write like you're genuinely commenting on something that caught your eye\n- ALWAYS end with \"Wanted to reach out.\"\n- Avoid overused words like \"seamless,\" \"truly,\" \"smart,\" \"really,\" \"the way you\"\n- Avoid generic observations that could apply to any company\n\nSTRUCTURE VARIETY EXAMPLES:\n- \"especially [person's] [quote/philosophy]\"\n- \"especially the [specific approach/strategy]\"  \n- \"especially [unique positioning/focus]\"\n- \"especially being [achievement/status]\"\n- \"especially that [surprising detail]\"\n- \"especially [interesting partnership/method]\"\n\nGOOD EXAMPLES (short and specific):\n- \"Love what you're doing with TAG Digital Marketing, especially being one of Google's first platinum agencies. Wanted to reach out.\"\n- \"Love what you're doing with Backroom, especially burning down the old agency model. Wanted to reach out.\"\n- \"Love what you're doing with Glass, especially using blockchain to navigate complex alcohol rules. Wanted to reach out.\"\n- \"Love what you're doing with Cowsultants, especially the Everything for the Cow approach. Wanted to reach out.\"\n\nBAD EXAMPLES:\n- \"especially the way you combine precise craftsmanship with total project management to make signs that actually drive business\" (TOO LONG - 18 words)\n- \"especially the way you focus on building lasting client relationships\" (GENERIC)\n- \"especially creators who truly fit their vibe\" (USES BANNED WORD \"truly\")\n\nTONE: Short, punchy, naturally varied - like you noticed one specific thing that stood out.\n\nGenerate the complete icebreaker sentence."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        960,
        96
      ],
      "id": "22d310f9-d565-41ef-b28f-e44ba506709c",
      "name": "Custom Messaging"
    },
    {
      "parameters": {
        "content": "",
        "height": 768,
        "width": 1392,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        192,
        -320
      ],
      "id": "d1d06bdb-2a96-4fbd-b089-3372960c41e1",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Scrape",
        "height": 288,
        "width": 672,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        -272
      ],
      "id": "1a762723-4f2e-4b68-baf4-d01c56568436",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Extract to Sheets",
        "height": 368,
        "width": 672,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        16
      ],
      "id": "edd3951f-197c-47d2-be25-dacda4f1afdb",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Custom Messaging + Instantly Upload",
        "height": 368,
        "width": 608,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        912,
        16
      ],
      "id": "732a13c0-71c4-484d-8721-95002fc529d2",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "formTitle": "Apollo + Apify Lead Generation",
        "formDescription": "Describe the types of leads you are trying to find.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Job Title",
              "placeholder": "Founder, Engineer, Owner"
            },
            {
              "fieldLabel": "Company Size",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "1-10"
                  },
                  {
                    "option": "11-50"
                  },
                  {
                    "option": "51-200"
                  },
                  {
                    "option": "201-1000"
                  },
                  {
                    "option": "10001-5000"
                  },
                  {
                    "option": "5001-10000"
                  },
                  {
                    "option": "10001-100000"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Keywords",
              "placeholder": "Keywords relevant to the contact or company"
            },
            {
              "fieldLabel": "Location",
              "placeholder": "United States, California, London"
            },
            {
              "fieldLabel": "Instantly Campaign ID",
              "placeholder": "12345"
            },
            {
              "fieldLabel": "Amount of Leads to Generate",
              "placeholder": "Must be between 100 and 50000",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        288,
        -192
      ],
      "id": "dd88006f-f6cb-4950-85e1-27b919a352d8",
      "name": "On form submission",
      "webhookId": "ca164d2c-6b5b-4b05-bd68-f74158c4e405"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.instantly.ai/api/v2/lead-lists",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"Test\",\n  \"campaign\": \"{{ $('On form submission').item.json['Instantly Campaign ID'] }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1296,
        96
      ],
      "id": "76b13fd3-96d3-47b6-832b-26cdbca00962",
      "name": "Add Lead to Instantly",
      "credentials": {
        "httpBearerAuth": {
          "id": "rN6sStOXwszIoBZE",
          "name": "instantly.io"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        624,
        -16
      ],
      "id": "0794b50a-cb70-4878-947d-14434361b0ab",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "CUz8utBxtWQreX8c",
          "name": "j.ahmed.ja7a7@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        368,
        -752
      ],
      "id": "9805e1e1-722d-4e5c-91e1-1e5d0e0027dc",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.phantombuster",
      "typeVersion": 1,
      "position": [
        576,
        -752
      ],
      "id": "a21f1521-d6b7-4fc7-a640-8e953c456aea",
      "name": "Add an agent to the launch queue"
    },
    {
      "parameters": {
        "resource": "booking",
        "additionalFields": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-outscraper.outscraper",
      "typeVersion": 1,
      "position": [
        1120,
        -752
      ],
      "id": "cbb23a76-5b6f-4b40-b35b-b2b563a374d6",
      "name": "Search on booking"
    },
    {
      "parameters": {
        "resource": "scrapeUrl",
        "operation": "get",
        "additionalFields": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-scraping-dog.scrapingDog",
      "typeVersion": 1,
      "position": [
        1328,
        -752
      ],
      "id": "d99cbc07-4348-42fe-ad4e-58ce7cf5c16e",
      "name": "Scrape URL"
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "type": "n8n-nodes-scrapingbee.ScrapingBee",
      "typeVersion": 1,
      "position": [
        1536,
        -752
      ],
      "id": "7f62fcf6-6239-47ea-99c6-c33f5edbca6d",
      "name": "Scrape using HTML API"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-scrapeless.scrapeless",
      "typeVersion": 1,
      "position": [
        816,
        -752
      ],
      "id": "4d1f3598-3122-41e5-8021-b114aed4fe3c",
      "name": "Google Search",
      "credentials": {
        "scrapelessApi": {
          "id": "u0grlfXBIiKVNmLd",
          "name": "Scrapeless account"
        }
      }
    }
  ],
  "pinData": {
    "On form submission": [
      {
        "json": {
          "Job Title": "Engineer",
          "Company Size": "201-1000",
          "Keywords": "Information Technology",
          "Location": "United States",
          "Instantly Campaign ID": "64ac2073-d7d8-400c-841f-14e4acb8c58a",
          "Amount of Leads to Generate": "500",
          "submittedAt": "2025-10-05T19:03:09.076+02:00",
          "formMode": "test"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-05T12:48:15.089Z",
      "updatedAt": "2025-10-05T12:48:15.089Z",
      "role": "workflow:owner",
      "workflowId": "GTcEIsbL2TW3xVdb",
      "projectId": "2lFcYqGDoW8pSvlN"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-08T18:21:07.000Z",
  "versionId": "d4f7874e-54e3-4a2f-ab7a-29b550e2f68d"
}