workflows/Invoice Chatbot w/ Telegram/Invoice Chatbot w/ Telegram.json
{
  "active": false,
  "connections": {
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Invoice Chatbot",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Invoice Chatbot": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "PDFco Api",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Invoice Chatbot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Invoice Chatbot",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "PDFco Api": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-24T12:46:30.469Z",
  "id": "IjFpppKptYgvTjPc",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Invoice Chatbot w/ Telegram",
  "nodes": [
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \n\"invoice_id\":\"\", \n\"client_name\":\"\", \n\"status\":\"\", \n\"pdf_url\":\"\", \n\"amount\":\"\", \n\"date\":\"\"\n  \n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        24,
        48
      ],
      "id": "5f3824be-a8e4-4e6f-bed5-7f0855e69763",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Extract the invoice ID (number only) from this query:\n\"{{ $json.message.text }}\"\nYou're also connected with the Google sheets. \nCheck the invoice id from google sheet and then prepare the output\nReturn output in JSON:\n{\n  \ninvoice_id, \nclient_name, \nstatus, \npdf_url, \namount, \ndate\n\n}\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -112,
        -176
      ],
      "id": "9615c279-1a28-4f39-b764-443ffc9116dd",
      "name": "Invoice Chatbot"
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n\n<html>\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>INVOICE BOT</title>\n</head>\n<body>\n  <div class=\"container\">\n    <h1>Invoice:{{ $json.output.invoice_id }}</h1>\n    <h2>Name:{{ $json.output.client_name }}</h2>\n    <h2>Status:{{ $json.output.status }}</h2>\n    <h2>URL:{{ $json.output.pdf_url }}</h2>\n    <h2>Amount:{{ $json.output.amount }}</h2>\n    <h2>Date:{{ $json.output.date }}</h2>\n    <p>Thanks For Using</p>\n  </div>\n</body>\n</html>\n\n<style>\n.container {\n  background-color: #ffffff;\n  text-align: center;\n  padding: 16px;\n  border-radius: 8px;\n}\n\nh1 {\n  color: #ff6d5a;\n  font-size: 24px;\n  font-weight: bold;\n  padding: 8px;\n}\n\nh2 {\n  color: #909399;\n  font-size: 18px;\n  font-weight: bold;\n  padding: 8px;\n}\n</style>\n\n<script>\nconsole.log(\"Hello World!\");\n</script>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        240,
        -176
      ],
      "id": "bcb154c2-51ae-4309-8bf8-cb238b6f65db",
      "name": "HTML"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -336,
        -176
      ],
      "id": "60f07190-5387-4f7e-bfa5-67e42794538d",
      "name": "Telegram Trigger",
      "webhookId": "556f7395-3f8a-4d31-8547-81c7b7d90ac3",
      "credentials": {
        "telegramApi": {
          "id": "TrjCMA928DvkeABC",
          "name": "n8n-P"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -104,
        48
      ],
      "id": "80e7120d-d642-4b89-8e89-fed14a7a7c00",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "CUz8utBxtWQreX8c",
          "name": "j.ahmed.ja7a7@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "URL/HTML to PDF",
        "convertType": "htmlToPDF",
        "html": "={{ $json.html }}",
        "advancedOptions": {}
      },
      "type": "n8n-nodes-pdfco.PDFco Api",
      "typeVersion": 1,
      "position": [
        464,
        -176
      ],
      "id": "2a2502d9-6701-45c4-8f68-390260cd0332",
      "name": "PDFco Api",
      "credentials": {
        "pdfcoApi": {
          "id": "EgiIT7sfrakSY12y",
          "name": "j.ahmed.ja7a7@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "={{ $json.name }}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        -176
      ],
      "id": "f3aedac5-3f16-47f5-86a9-544bbf20ed36",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "binaryPropertyName": "={{ $json.name }}",
        "additionalFields": {
          "caption": "Here's Your Invoice"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        912,
        -176
      ],
      "id": "fb4d8ac3-2fdb-490f-b741-764e555bf603",
      "name": "Telegram",
      "webhookId": "e33ae26d-def9-4626-8728-540323faeaaf",
      "credentials": {
        "telegramApi": {
          "id": "TrjCMA928DvkeABC",
          "name": "n8n-P"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-24T12:46:30.491Z",
      "updatedAt": "2025-09-24T12:46:30.491Z",
      "role": "workflow:owner",
      "workflowId": "IjFpppKptYgvTjPc",
      "projectId": "2lFcYqGDoW8pSvlN"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-29T10:56:23.000Z",
  "versionId": "dc2039cb-0b1a-4a00-b193-3226fbdf702b"
}