workflows/Backup/Back Up and Push to GitHub/Back Up and Push to GitHub.json
{
  "active": false,
  "connections": {
    "n8n": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Completed Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "tag?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Items",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Starting Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Starting Message": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Starting Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File": {
      "main": [
        [
          {
            "node": "Merge Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If file too large": {
      "main": [
        [
          {
            "node": "Get File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Items": {
      "main": [
        [
          {
            "node": "isDiffOrNew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isDiffOrNew": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Same file - Do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File is different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File is new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Same file - Do nothing": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File is different": {
      "main": [
        [
          {
            "node": "Edit existing file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File is new": {
      "main": [
        [
          {
            "node": "Create new file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create new file": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failed Flows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit existing file": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get file data": {
      "main": [
        [
          {
            "node": "If file too large",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "Get file data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tag?": {
      "main": [
        [
          {
            "node": "/",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Failed Flows": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-18T14:19:42.723Z",
  "id": "SRyLX0VfcCR5k62q",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Back Up and Push to GitHub",
  "nodes": [
    {
      "parameters": {},
      "id": "1fcaf9e6-8b27-415c-8da9-85612cb2c918",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        144,
        368
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "13e6621e-db22-41ec-96c1-b6b5cca072f8",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        592,
        464
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "eo6P5MTbGWhy1lsK",
          "name": "n8n - j.ahmed.ja7a7@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "12e3d439-3b42-4ce4-826c-b48c9f391e0a",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        816,
        464
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 1,
              "triggerAtMinute": 33
            }
          ]
        }
      },
      "id": "62ae1dca-5ed5-4ba7-bcf3-38e85f5d31f0",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        144,
        560
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "## Backup to GitHub \nThis workflow will backup all instance workflows to GitHub every 24 hours.\n\nThe files are saved into folders using `YYYY/MM/` for the directory path and `ID.json` for the filename.\n\nThe Repo Owner, Repo Name and Main folder are set using the **Variables** feature but can be replaced with the `Config` node in the subworkflow. \n\nThe workflow runs calls itself to help reduce memory usage, Once the workflow has completed it will send an optional notification to Slack.\n\n### Time to Run\nTested with 1423 workflows on `1.44.1` it took under 30 minutes for the first run and under 12 minutes once the initial run is complete.",
        "height": 417,
        "width": 385,
        "color": 4
      },
      "id": "2870bdca-f45a-4cd6-8aa9-7fe3bb4082c2",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -528,
        288
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Main workflow loop",
        "height": 416,
        "width": 1465,
        "color": 7
      },
      "id": "147ebe4e-1c51-4cef-b9c9-c92859c0416e",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -96,
        304
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09CP6FNSES",
          "mode": "list",
          "cachedResultName": "social"
        },
        "text": "=:information_source:  Starting Workflow Backup [{{ $execution.id }}]",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "0c7cce31-b6c8-4873-bcd4-03d12ab96efd",
      "name": "Starting Message",
      "type": "n8n-nodes-base.slack",
      "position": [
        368,
        464
      ],
      "webhookId": "c02eb407-5547-4aa0-9ebf-46dab67b63b6",
      "typeVersion": 2.2,
      "credentials": {
        "slackOAuth2Api": {
          "id": "tkOMw6LTf1iDpxxB",
          "name": "OAuth - [ j.ahmed.ja7a7@gmail.com ]"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09CP6FNSES",
          "mode": "list",
          "cachedResultName": "social"
        },
        "text": "=✅ Backup has completed - {{ $('n8n').all().length }} workflows have been processed.",
        "otherOptions": {}
      },
      "id": "842ddc29-094e-41c8-a90f-b49cad1f21fb",
      "name": "Completed Notification",
      "type": "n8n-nodes-base.slack",
      "position": [
        1040,
        240
      ],
      "webhookId": "a0c6e8c8-5d71-40fa-b02b-63a7ed5726c4",
      "executeOnce": true,
      "typeVersion": 2.2,
      "credentials": {
        "slackOAuth2Api": {
          "id": "tkOMw6LTf1iDpxxB",
          "name": "OAuth - [ j.ahmed.ja7a7@gmail.com ]"
        }
      }
    },
    {
      "parameters": {
        "content": "## Subworkflow",
        "height": 732,
        "width": 3111,
        "color": 6
      },
      "id": "83df8f3d-03ad-4d23-8f8f-3e18e39efcb1",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        880,
        208
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8d513345-6484-431f-afb7-7cf045c90f4f",
              "name": "Done",
              "type": "boolean",
              "value": true
            }
          ]
        },
        "options": {}
      },
      "id": "aa06398c-b614-4250-9a23-0283ed4269dd",
      "name": "Return",
      "type": "n8n-nodes-base.set",
      "position": [
        3824,
        672
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "url": "={{ $json.download_url }}",
        "options": {}
      },
      "id": "95d1a248-b13d-415f-a493-85400a42a8ec",
      "name": "Get File",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2160,
        432
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "45ce825e-9fa6-430c-8931-9aaf22c42585",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json.content }}",
              "rightValue": ""
            },
            {
              "id": "9619a55f-7fb1-4f24-b1a7-7aeb82365806",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              },
              "leftValue": "={{ $json.error }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "eb44eb54-aee7-4803-b1f6-864b143ccda8",
      "name": "If file too large",
      "type": "n8n-nodes-base.if",
      "position": [
        1936,
        432
      ],
      "typeVersion": 2
    },
    {
      "parameters": {},
      "id": "46b350b2-f4b0-43d2-bc05-43c6c527cca8",
      "name": "Merge Items",
      "type": "n8n-nodes-base.merge",
      "position": [
        2384,
        528
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n  const origWorkflow = JSON.parse($input.all()[0].json.data);\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return items\nreturn $input.all();"
      },
      "id": "38bd11c9-4545-4fb9-95c4-308a560339fe",
      "name": "isDiffOrNew",
      "type": "n8n-nodes-base.code",
      "position": [
        2608,
        528
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json.github_status}}",
        "rules": {
          "rules": [
            {
              "value2": "same"
            },
            {
              "value2": "different",
              "output": 1
            },
            {
              "value2": "new",
              "output": 2
            }
          ]
        }
      },
      "id": "5cb25201-9152-4bff-9b6c-e3ad15a9ecb8",
      "name": "Check Status",
      "type": "n8n-nodes-base.switch",
      "position": [
        2832,
        496
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "924e7063-c21f-471c-baa1-280078b587ad",
      "name": "Same file - Do nothing",
      "type": "n8n-nodes-base.noOp",
      "position": [
        3504,
        272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "ac6f9df4-d3b1-4f77-a3cc-a667898326f8",
      "name": "File is different",
      "type": "n8n-nodes-base.noOp",
      "position": [
        3280,
        464
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "c838efcb-6214-474e-b208-be76ab030279",
      "name": "File is new",
      "type": "n8n-nodes-base.noOp",
      "position": [
        3072,
        656
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "={{ $('Globals').item.json.repo.owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Globals').item.json.repo.name }}",
          "mode": "name"
        },
        "filePath": "={{ $('Globals').item.json.repo.path }}{{ $('Loop Over Items').item.json.name }}/{{ $('Loop Over Items').item.json.name }}.json",
        "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
        "commitMessage": "={{ $('Loop Over Items').item.json.id }} -{{ $('Loop Over Items').item.json.name }} ({{$json.github_status}})"
      },
      "id": "ee143aa2-5283-48a2-9123-d98b0d56d51e",
      "name": "Create new file",
      "type": "n8n-nodes-base.github",
      "position": [
        3296,
        656
      ],
      "typeVersion": 1,
      "webhookId": "386c09c3-5fa0-4f28-b270-e52cb2f8f73d",
      "alwaysOutputData": false,
      "credentials": {
        "githubApi": {
          "id": "iY7L3YMNJ7qgBjXW",
          "name": "[ Token ] - d0t-J"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "={{ $('Globals').item.json.repo.owner}}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Globals').item.json.repo.name }}",
          "mode": "name"
        },
        "filePath": "={{ $('Globals').item.json.repo.path }}{{ $('Loop Over Items').item.json.name }}/{{ $('Loop Over Items').item.json.name }}.json",
        "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
        "commitMessage": "={{ $('Loop Over Items').item.json.id }} -{{ $('Loop Over Items').item.json.name }} ({{$json.github_status}})"
      },
      "id": "c979f116-c9e1-4355-af65-cc8821d2940a",
      "name": "Edit existing file",
      "type": "n8n-nodes-base.github",
      "position": [
        3504,
        464
      ],
      "typeVersion": 1,
      "webhookId": "3d9aa79c-4b0e-448a-a2f7-e342a02234a7",
      "credentials": {
        "githubApi": {
          "id": "iY7L3YMNJ7qgBjXW",
          "name": "[ Token ] - d0t-J"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "={{ $json.repo.owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $json.repo.name }}",
          "mode": "name"
        },
        "filePath": "={{ $json.repo.path }}{{ $('Loop Over Items').item.json.name }}/{{ $('Loop Over Items').item.json.name }}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "48a429f3-447f-434b-a065-4fea0bbfa49a",
      "name": "Get file data",
      "type": "n8n-nodes-base.github",
      "position": [
        1712,
        432
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "webhookId": "1513f777-7c6b-4cba-a0e1-84b4566aaddd",
      "credentials": {
        "githubApi": {
          "id": "iY7L3YMNJ7qgBjXW",
          "name": "[ Token ] - d0t-J"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6cf546c5-5737-4dbd-851b-17d68e0a3780",
              "name": "repo.owner",
              "type": "string",
              "value": "d0t-J"
            },
            {
              "id": "452efa28-2dc6-4ea3-a7a2-c35d100d0382",
              "name": "repo.name",
              "type": "string",
              "value": "n8n-wf"
            },
            {
              "id": "81c4dc54-86bf-4432-a23f-22c7ea831e74",
              "name": "repo.path",
              "type": "string",
              "value": "=workflows/{{ $json.tags[0].name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8a85045f-88fe-4274-98f0-0656cbe823be",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "position": [
        1488,
        432
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "12cad226-e091-4bbb-aed9-a8e01311772c",
              "name": "tags[0].name",
              "type": "string",
              "value": "={{ $('Loop Over Items').item.json.tags[0].name }}/"
            }
          ]
        },
        "options": {}
      },
      "id": "d62cfe65-a433-4d7c-a692-9e74b14d57bb",
      "name": "/",
      "type": "n8n-nodes-base.set",
      "position": [
        1264,
        432
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.tags[0] }}",
                    "rightValue": "",
                    "id": "6d41447a-6514-4c24-a30c-78dd55f10e7c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "tag"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "2656fbe3-fe35-4770-9c03-9a455ec618e4",
                    "operator": {
                      "type": "object",
                      "operation": "notExists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.tags[0] }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "none"
            }
          ]
        },
        "options": {}
      },
      "id": "827b3fd1-7d3d-42e3-b97b-87f2cf57132b",
      "name": "tag?",
      "type": "n8n-nodes-base.switch",
      "position": [
        1040,
        432
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09CP6FNSES",
          "mode": "list",
          "cachedResultName": "social"
        },
        "text": "=:x: Failed to backup _{{ $('Loop Over Items').item.json.id }}_ - *{{ $('Loop Over Items').item.json.name }}*",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "39b4536a-3ca7-4ea2-8b5f-7b82d63ff179",
      "name": "Failed Flows",
      "type": "n8n-nodes-base.slack",
      "position": [
        3504,
        736
      ],
      "webhookId": "2a092edb-de12-490f-931b-34d70e7d7696",
      "typeVersion": 2.2,
      "credentials": {
        "slackOAuth2Api": {
          "id": "tkOMw6LTf1iDpxxB",
          "name": "OAuth - [ j.ahmed.ja7a7@gmail.com ]"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-18T14:19:42.746Z",
      "updatedAt": "2025-09-18T14:19:42.746Z",
      "role": "workflow:owner",
      "workflowId": "SRyLX0VfcCR5k62q",
      "projectId": "2lFcYqGDoW8pSvlN"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-09-18T19:00:31.154Z",
      "updatedAt": "2025-09-18T19:00:31.154Z",
      "id": "vAdHWjfKve0KRD2a",
      "name": "Backup"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-09-18T19:01:05.000Z",
  "versionId": "971157cd-ec1d-455e-adca-f0de63a7982a"
}