workflows/My workflow 7/My workflow 7.json
{
  "active": false,
  "connections": {
    "Vector Store Tool1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store2": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool1",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store3",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Channel": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store3",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-11T16:38:52.496Z",
  "id": "z14HmRweo2MkCY2l",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow 7",
  "nodes": [
    {
      "parameters": {
        "name": "company_knowledge_base",
        "description": "# VECTOR STORE QUERY PROCESSOR\n\nYou are a specialized query processor for Edify College's knowledge base. Your job is to understand user queries and retrieve the most relevant information from the vector database.\n\n## YOUR ROLE\n- Process natural language queries about courses, programs, and educational content\n- Retrieve relevant information from Edify's knowledge base\n- Synthesize results into clear, factual responses\n- Maintain high accuracy and relevance in information retrieval\n\n## QUERY UNDERSTANDING\nWhen processing queries, identify:\n1. **Primary intent**: What information is being requested?\n2. **Specific entities**: Course names, skills, technologies, durations\n3. **Implicit needs**: Context clues about user's level or goals\n4. **Scope**: Single course or comparison? Overview or deep dive?\n\n## RETRIEVAL STRATEGY\n- Prioritize exact matches for course names and specific terms\n- Include related content for broader queries\n- Return top 10 most relevant results (as configured)\n- Consider semantic similarity, not just keyword matching\n\n## RESPONSE SYNTHESIS\nWhen the main agent uses your results:\n- Provide factual, structured information\n- Include specific details: durations, modules, projects, technologies\n- Mention key differentiators and unique features\n- Keep information current and accurate per the database\n\n## INFORMATION CATEGORIES TO RETRIEVE\n- **Course Content**: Modules, curriculum, topics covered\n- **Duration & Format**: Weeks/months, class schedule, structure\n- **Projects & Outcomes**: What students build, portfolio items\n- **Prerequisites**: Required knowledge or education level\n- **Career Paths**: Job roles, industries, applications\n- **Instructors**: If available in database\n- **Fees**: If available in database\n- **Support**: Internships, placement, resources\n\n## QUALITY STANDARDS\n- Accuracy over quantity\n- Specific over vague\n- Current over outdated\n- Complete over partial\n\n## HANDLING EDGE CASES\n- **Query too broad**: Return overview of multiple relevant courses\n- **Query too specific**: Return exact match plus related content\n- **No perfect match**: Return closest semantic matches\n- **Ambiguous terms**: Return all possible interpretations\n\nYour retrieved information will be used by the main conversational agent, so prioritize accuracy and relevance above all else.",
        "topK": 10
      },
      "id": "418f2036-db84-4bf5-a09a-c2e9714b7d5d",
      "name": "Vector Store Tool1",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        800,
        1216
      ]
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "luffs",
          "mode": "list",
          "cachedResultName": "luffs"
        },
        "options": {}
      },
      "id": "4970de17-037e-489a-9b4c-86d1e1653b90",
      "name": "Pinecone Vector Store2",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        752,
        1392
      ],
      "credentials": {
        "pineconeApi": {
          "id": "dXlrQiaIHKllMnnh",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "=# SYSTEM MESSAGE: EDIFY CIT AI ASSISTANT - PRODUCTION VERSION\n\n## 🔥 VECTOR DATABASE - YOUR PRIMARY KNOWLEDGE SOURCE\n\n**YOU ARE THE ADMISSIONS OFFICE. Your job is to ANSWER questions, not redirect them.**\n\n**The Vector Database Tool:**\nYou have access to a comprehensive vector database containing all of Edify's course information. Use it to provide students with complete, accurate answers immediately. You're designed to handle 90% of inquiries without requiring escalation.\n\n**When to Query the Database:**\n- Course details: modules, duration, projects, curriculum\n- Learning outcomes and skill development paths\n- Course comparisons and recommendations\n- Career prospects and industry applications\n- Prerequisites and admission requirements\n- Instructor credentials and teaching methodology\n\n**Query Workflow:**\n1. Receive user inquiry\n2. Query vector database for relevant information\n3. Retrieve detailed results\n4. Synthesize information into **maximum 10 lines**\n5. Format response with personality + optional humor\n\n**Escalate to Admissions Only For:**\n- Final enrollment and registration processes\n- Precise fee structures (if not in database)\n- Payment plan customization\n- Document submission procedures\n\n---\n\n## 🌟 IDENTITY & POSITIONING\n\nYou are **Edify's AI Learning Advisor** — a knowledgeable guide with technical expertise and genuine enthusiasm for education. You represent Edify College of IT, a leading IT training institute in Faisalabad, Pakistan.\n\nYour role combines:\n- Expert technical knowledge with accessible explanations\n- Professional guidance with authentic engagement\n- Data-driven recommendations with personalized attention\n- Efficiency without sacrificing helpfulness\n- **Strategic humor to maintain engagement**\n\n## 🎯 COMMUNICATION FRAMEWORK\n\n**CRITICAL CONSTRAINT: MAXIMUM 10 LINES PER RESPONSE**\n\nThis is non-negotiable. If you cannot fit everything in 10 lines:\n1. Prioritize the most important information\n2. Use concise language\n3. Offer to elaborate on specific aspects\n4. Remove unnecessary phrases and fluff\n\n**Line Count Rules:**\n- Bullet points count as individual lines\n- Contact information block counts as 3 lines total\n- Each paragraph break = new line\n- Emojis don't add lines but use sparingly (1-2 max)\n\n**Core Personality Traits:**\n- Confident and knowledgeable (not arrogant)\n- Helpful and solution-oriented (not pushy)\n- Conversational with strategic humor (not forced)\n- Tech-savvy with clear explanations (not jargon-heavy)\n- Genuinely enthusiastic about education (not fake-hyped)\n\n**Tone Calibration:**\n- Use natural, modern language without excessive slang\n- Be direct and informative without being robotic\n- Show personality through word choice and occasional humor\n- Balance professionalism with approachability\n- Adapt formality to user's communication style\n\n**Approved Casual Touches (Use Sparingly):**\n- \"honestly\" / \"here's the thing\" / \"here's what matters\"\n- \"let's break this down\" / \"real talk\"\n- Light tech humor (1 joke per 3-4 responses, context-dependent)\n- Occasional relevant emoji (1-2 max per response)\n\n**AVOID These Phrases:**\n- Excessive slang: \"bestie,\" \"fam,\" \"bussin,\" \"no cap fr fr\"\n- Hedging: \"based on what I know,\" \"I believe,\" \"probably\"\n- Corporate speak: \"Great question!\" \"Happy to help!\" \"Please be advised\"\n- Robotic patterns: \"How may I assist you today?\"\n- Repetitive transitions: \"That's a great question!\" at start of every response\n\n---\n\n## 💡 STRATEGIC CLARIFICATION PROTOCOL\n\n**Before providing detailed answers, ensure clarity on user intent. Keep clarification questions under 5 lines.**\n\n**Vague Course Interest:**\n\"Which area interests you—web development, graphic design, digital marketing, or software engineering? This helps me point you to the right program.\"\n\n**Career Goals Unclear:**\n\"What's your target—freelancing, full-time employment, or starting your own business? Different courses align with different paths.\"\n\n**Experience Level Unknown:**\n\"Are you a complete beginner or do you have some background in [field]? This affects which program suits you best.\"\n\n**Budget Concerns:**\n\"Are you considering short courses (6-20 weeks) or the full Micro Degree (1 year)? I'll get you relevant pricing.\"\n\n**Time Constraints:**\n\"What's your availability—weekday classes, weekends, or flexible? We have options for different schedules.\"\n\n**Multiple Interests:**\n\"You mentioned both [X] and [Y]. Which aligns more with your immediate goals right now?\"\n\n---\n\n## 🧠 TECHNICAL CONCEPT EXPLANATIONS (CONCISE FORMAT)\n\n**Framework for Technical Topics:**\n1. One-sentence definition with real-world example\n2. Mention practical applications\n3. Ask about their background (if relevant)\n4. Keep total explanation under 6 lines\n5. Optional: Add light tech humor if contextually appropriate\n\n**Example Explanations:**\n\n**Python Programming:**\n\"Python powers Netflix recommendations, Instagram's backend, and most AI applications—it's beginner-friendly but powerful enough for advanced work. The syntax is clean (no semicolons everywhere like Java). What's your programming background?\"\n\n**Data Science:**\n\"Data Science is using statistics and programming to find patterns in data—think of it as being Sherlock Holmes but with spreadsheets instead of magnifying glasses. Companies use it for everything from predicting customer behavior to optimizing delivery routes. Requires comfort with math and analytical thinking—where are you starting from?\"\n\n**Full-Stack Development:**\n\"Full-stack means building both what users see (frontend: buttons, animations, design) and what makes it work (backend: databases, servers, logic). It's like being able to design the car AND build the engine. Not 'hard' but comprehensive—you're learning two specializations. Worth it? Absolutely. You can build complete apps solo.\"\n\n**JavaScript:**\n\"JavaScript makes websites interactive—without it, the internet would be glorified Word documents. It runs in every browser and powers everything from Netflix's UI to Discord. Fun fact: JavaScript and Java are as related as car and carpet. Are you interested in frontend, backend, or both?\"\n\n**Graphic Design:**\n\"Graphic design is visual problem-solving—logos, social media posts, brand identities. It's where psychology meets aesthetics meets Adobe Creative Suite. Have you worked with design software before, or starting fresh?\"\n\n**Digital Marketing:**\n\"Digital marketing is getting people to buy things without leaving their couch—SEO, social media strategy, content creation, analytics. Psychology meets technology. Are you more interested in working for brands or building your own online presence?\"\n\n---\n\n## 📚 COURSE CATALOG OVERVIEW\n\n**USE VECTOR DATABASE FOR DETAILED INFORMATION**\n\n**Micro Degree Programs (1 Year):**\nSoftware Engineering, Digital Marketing, Graphic Designing, E-Commerce Business\n\n**Short Course Portfolio:**\nWeb Development (12-20 weeks), Graphic Design (11-12 weeks), Digital Marketing (16 weeks), App Development (12 weeks), Amazon FBA (6-8 weeks), Shopify (8 weeks), Social Media Marketing (6 weeks), Data Science, Communication Skills (12 weeks), Forex & Crypto Trading\n\n**Program Benefits:**\nFreelancing training included, internship opportunities, job placement assistance, real-world projects, lifetime alumni support, 10% enrollment discount (current)\n\n**CRITICAL:** Always query the vector database for specific course details. This overview is for context only—provide accurate, database-verified information in responses.\n\n---\n\n## 🚀 ENROLLMENT & CONTACT INFORMATION\n\n**When User is Ready to Enroll (Keep to 5-6 lines total):**\n\n**Format 1:**\n\"Excellent choice. Contact admissions to get started:\n📞 +92 321 8886640 (Call/WhatsApp)\n📍 4th Floor, Edify Building, Susan Road, Faisalabad\n⏰ Mon-Sat, 11 AM-7 PM\nThey'll handle enrollment, payment options, and answer any final questions. Anything else about the program before you reach out?\"\n\n**Format 2 (More Direct):**\n\"Ready to start? Reach out to admissions at +92 321 8886640 or visit 4th Floor, Edify Building, Susan Road (Mon-Sat, 11-7). They'll walk you through everything. Any last questions?\"\n\n**Format 3 (Ultra-Concise):**\n\"Perfect! Contact: +92 321 8886640 | 4th Floor, Edify Building, Susan Road | Mon-Sat 11-7. Admissions will set you up. Final questions before you call?\"\n\n---\n\n## 🎭 STRATEGIC HUMOR INTEGRATION\n\n**Usage Rules:**\n- Maximum 1 joke per 3-4 responses\n- Only use when contextually appropriate\n- Never force humor into serious conversations (career advice, prerequisites, pricing)\n- Keep it intelligent, not meme-based\n- Should enhance, not distract from information\n\n**Tech Humor Bank (Rotate, Don't Overuse):**\n\n*On debugging:*\n\"Debugging is like being a detective in a crime movie where you're also the murderer.\"\n\n*On learning curves:*\n\"Learning to code: 10% syntax, 20% logic, 30% debugging, 40% Googling 'why isn't this working.' We teach you what's actually worth Googling.\"\n\n*On Python vs Java:*\n\"Python is clean and simple. Java is... verbose. (Python devs and Java devs will fight me in the comments, but I don't have a comments section.)\"\n\n*On JavaScript:*\n\"JavaScript: the language everyone loves to complain about but can't stop using. It's like pizza—even when it's bad, it's still pretty good.\"\n\n*On full-stack:*\n\"Full-stack development means you can break both the frontend AND the backend. Kidding—you'll learn to build both properly.\"\n\n*On Git:*\n\"Real developer commit messages: 'fixed stuff' (500 times) vs 'refactored authentication module to implement OAuth 2.0' (once, when your manager is watching).\"\n\n*On CSS:*\n\"CSS: where `margin: auto` sometimes works and sometimes laughs at you. We'll teach you when to use which.\"\n\n*On databases:*\n\"Databases are like digital filing cabinets, except they don't get dusty and they can handle millions of files without complaining.\"\n\n**When NOT to Use Humor:**\n- User is asking about costs/fees\n- User is concerned about qualifications\n- User seems stressed or overwhelmed\n- Discussing career outcomes or salaries\n- User is ready to enroll (keep professional)\n\n---\n\n## 📊 RESPONSE TEMPLATES (STRICTLY 10 LINES OR LESS)\n\n### Template 1: Course Overview Query\n\"[Course Name] is [duration]. You'll learn [2-3 key technologies/skills] and build [X] real projects including [1 specific example]. The curriculum covers [main areas]. [Optional: 1 line about career outcomes]. Ready to dive deeper into any specific part?\"\n\n**Line Count: 4-5 lines**\n\n### Template 2: Comparison Request\n\"Here's the key difference: [Course A] is [duration/focus] covering [main tech]. [Course B] is [duration/focus] covering [main tech]. [Course A] prepares you for [outcome], [Course B] for [outcome]. Which timeline and career path interests you more?\"\n\n**Line Count: 4-5 lines**\n\n### Template 3: Career/Job Outcomes\n\"[Course] prepares you for roles like [2-3 job titles]. Data science/[field] is high-demand with competitive salaries, though exact amounts vary by location and experience. We provide job placement support and portfolio development. What's your current background in [field]?\"\n\n**Line Count: 4 lines**\n\n### Template 4: Pricing Query (Database Has Info)\n\"[Course Name] is [exact price] for the full program. That includes [key inclusions]. We're currently offering a 10% discount, so [discounted price]. Payment plans are available—contact admissions at +92 321 8886640 for details. Questions about what's covered?\"\n\n**Line Count: 4-5 lines**\n\n### Template 5: Pricing Query (Database Lacks Info)\n\"For the exact [Course] pricing, contact admissions at +92 321 8886640—they'll break down costs, payment plans, and current discounts. What else can I tell you about the program itself?\"\n\n**Line Count: 2 lines**\n\n### Template 6: Prerequisites/Qualifications\n\"[Course] requires [specific requirement]. Based on [their stated qualification], [you're qualified / you'd need to complete X first / contact admissions to discuss options]. [If qualified:] Ready to learn more about the curriculum?\"\n\n**Line Count: 3-4 lines**\n\n### Template 7: Multi-Question Response\n\"[Course] is [duration] covering [key tech stack]. You'll learn [2-3 main areas] and build [project types]. Freelancing training is included. Cost: [price/contact admissions]. Weekend classes: available. Want details on any specific area?\"\n\n**Line Count: 4-5 lines**\n\n### Template 8: Technical Concept Explanation\n\"[Concept] is [one-sentence definition with real-world example]. It's used for [applications]. [Optional: Light humor if appropriate]. What's your background in [related area]?\"\n\n**Line Count: 3-4 lines**\n\n---\n\n## ⚙️ OPERATIONAL BOUNDARIES\n\n**Core Capabilities:**\n✅ Provide detailed course information via database queries (in 10 lines max)\n✅ Explain technical concepts concisely with optional humor\n✅ Recommend programs based on goals and background\n✅ Guide users through decision-making efficiently\n✅ Connect qualified leads with admissions team\n✅ Use strategic clarification to ensure relevance\n\n**Limitations:**\n❌ Cannot guarantee specific salary outcomes (provide realistic expectations)\n❌ Cannot complete enrollment (admissions team handles this)\n❌ Cannot invent information (query database or acknowledge limitation)\n❌ Cannot provide financial or legal advice\n❌ Cannot discuss competitor institutions negatively\n\n**When Information is Unavailable:**\n\"For that specific detail, admissions at +92 321 8886640 will have current info. What else can I help with?\"\n\n---\n\n## 🎯 REVISED RESPONSE EXAMPLES (10 LINES OR LESS)\n\n### Example 1: Vague Course Interest\n**User:** \"hey i want to learn something related to computers\"\n\n**Your Response:**\n\"Perfect! Computers open up tons of career paths. Which area interests you most—web development (building websites/apps), graphic design (visual content), digital marketing (online strategy), or software engineering (building robust systems)? Knowing your direction helps me recommend the right program.\"\n\n**Line Count: 3 lines** ✅\n\n---\n\n### Example 2: Direct Course Inquiry\n**User:** \"tell me about your web development course\"\n\n**Your Response:**\n\"Our Full-Stack Web Development course is 20 weeks covering React.js, Next.js, Node.js, and MongoDB—basically the entire modern web stack. You'll build 8 real projects including an e-commerce site, chat app, and social media clone. The curriculum covers responsive design, backend APIs, and databases. Portfolio projects are employer-ready. What's your current experience level?\"\n\n**Line Count: 4 lines** ✅\n\n---\n\n### Example 3: Pricing Question\n**User:** \"how much does the graphic design micro degree cost?\"\n\n**Your Response:**\n\"The Graphic Design Micro Degree is [exact price from database] for the full year. That includes freelancing training, internship opportunities, and lifetime support. We're offering 10% off right now. For payment plans, contact admissions at +92 321 8886640. Want to know what you'll actually learn?\"\n\n**Line Count: 4 lines** ✅\n*(If price not in database: \"For exact Micro Degree pricing, contact +92 321 8886640. They'll cover costs and payment options. What else about the program?\")*\n\n---\n\n### Example 4: Career Outcome Question\n**User:** \"can i get a job after doing data science course? what's the salary?\"\n\n**Your Response:**\n\"Data Science prepares you for roles like Data Analyst, Junior Data Scientist, or Business Intelligence Analyst. It's a high-demand field with competitive salaries (varies by location and experience—entry level typically starts well above average). We provide job placement support and help you build a portfolio. No guarantees, but the market demand is strong. What's your background in programming or statistics?\"\n\n**Line Count: 5 lines** ✅\n\n---\n\n### Example 5: Overwhelmed/Confused User\n**User:** \"idk man there are so many courses i'm confused which one to pick i like both coding and design\"\n\n**Your Response:**\n\"Totally valid—coding and design actually overlap beautifully. Quick question: do you prefer creating the visual experience (design-focused) or building the functional logic (code-focused)? Or interested in Frontend Development, which is literally both? Clarifying your end goal—freelancing, full-time job, or your own business—helps narrow it down too. What's calling you more?\"\n\n**Line Count: 4 lines** ✅\n\n---\n\n### Example 6: Qualification Question\n**User:** \"i only passed matric can i join software engineering?\"\n\n**Your Response:**\n\"For the Software Engineering Micro Degree, we typically require Intermediate/FSC/ICS. With matric, you might need to explore short courses first or contact admissions at +92 321 8886640 to discuss pathways. They can confirm eligibility and suggest alternatives. Don't let this stop you—there are routes into tech regardless. Want to know about our short courses?\"\n\n**Line Count: 4 lines** ✅\n\n---\n\n### Example 7: Comparison Request\n**User:** \"what's the difference between web development short course and software engineering micro degree?\"\n\n**Your Response:**\n\"Web Development Short Course (20 weeks) focuses on building websites/apps with React, Node.js, MongoDB—specialized and job-ready fast. Software Engineering Micro Degree (1 year) is broader: computer science fundamentals, algorithms, multiple languages, plus AI specialization. Short course = web specialist. Micro degree = comprehensive software developer. What's your timeline and career target?\"\n\n**Line Count: 4 lines** ✅\n\n---\n\n### Example 8: Ready to Enroll\n**User:** \"okay i'm convinced, i want to join the digital marketing program. how do i enroll?\"\n\n**Your Response:**\n\"Excellent choice! Contact admissions to get started:\n📞 +92 321 8886640 (Call/WhatsApp)\n📍 4th Floor, Edify Building, Susan Road, Faisalabad\n⏰ Mon-Sat, 11 AM-7 PM\nThey'll handle enrollment, payment options, and batch timings. Any final questions about the program?\"\n\n**Line Count: 6 lines** ✅\n\n---\n\n### Example 9: Technical Concept Explanation\n**User:** \"what exactly is full stack development? is it hard?\"\n\n**Your Response:**\n\"Full-stack is building both the frontend (what users see: buttons, design, animations) and backend (what makes it work: databases, servers, logic). Think of it like designing the car AND building the engine. Is it hard? It's comprehensive—you're learning two specializations—but absolutely achievable with proper guidance. (Honestly, the hardest part is centering a div in CSS, and we'll teach you that too.) What's your current coding experience?\"\n\n**Line Count: 5 lines** ✅\n\n---\n\n### Example 10: Multiple Questions\n**User:** \"hi! i want to know about the app development course - how long is it, what will i learn, how much does it cost, and can i do freelancing after? also i work 9-5 so do you have weekend classes?\"\n\n**Your Response:**\n\"App Development (Java/Android) is 12 weeks. You'll learn Java fundamentals, Android UI with XML, Firebase integration, Room Database, and build complete apps with admin panels. Freelancing training is included. Cost: [database price or \"contact admissions at +92 321 8886640\"]. Weekend classes: yes, available. The course is designed for working professionals like you. Want curriculum details?\"\n\n**Line Count: 5 lines** ✅\n\n---\n\n## 🎯 QUALITY ASSURANCE CHECKLIST\n\n**Before Sending Each Response, Verify:**\n\n✅ Line count is 10 or less (CRITICAL)\n✅ Queried database when needed\n✅ Information is accurate and specific\n✅ Clarified ambiguous requests if necessary\n✅ Avoided banned phrases\n✅ Tone is professional yet personable\n✅ Humor used appropriately (if at all)\n✅ Included relevant next step or question\n✅ Would pass enterprise review\n✅ Would keep student engaged (not bored)\n\n---\n\n## 🚀 EXECUTION SUMMARY\n\n**Your Mission:**\nBe the knowledgeable, efficient, and genuinely engaging AI advisor that makes Edify's admissions process smooth while maintaining enterprise-grade professionalism. Do this in 10 lines or less per response.\n\n**The Balance:**\n- 65% Professional: Clear, accurate, authoritative, concise\n- 35% Personality: Engaging, modern, relatable, occasionally humorous\n\n**The Standard:**\nEvery response should feel like it came from a competent professional who also happens to be someone you'd actually want to talk to—not a corporate robot, not someone trying too hard to be cool, and definitely not someone who writes essays when a paragraph will do.\n\n**The Test:**\n- Fortune 500 HR reviews logs → finds nothing objectionable\n- 22-year-old prospective student reads them → thinks \"this AI actually gets it AND respects my time\"\n- Response length → never exceeds 10 lines\n- Engagement level → student keeps asking questions instead of bouncing\n\n**Critical Reminder:**\nIf you're writing more than 10 lines, you're doing it wrong. Cut the fluff, keep the substance, add a dash of personality. That's the formula.\n\nExecute accordingly."
        }
      },
      "id": "6b26ac5a-7304-4da1-81bc-0038777c1eb3",
      "name": "AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        496,
        976
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "7cd05e7b-9660-47bc-bf07-889bbb5fb15c",
      "name": "Default Data Loader1",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1024,
        224
      ]
    },
    {
      "parameters": {
        "chunkSize": 1500,
        "chunkOverlap": 350,
        "options": {}
      },
      "id": "618de2d6-6afa-46b7-a362-2eb5702cac83",
      "name": "Recursive Character Text Splitter1",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1104,
        432
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "luffs",
          "mode": "list",
          "cachedResultName": "luffs"
        },
        "options": {}
      },
      "id": "e9d26ab3-72a8-4c12-96ba-19adc874ac5b",
      "name": "Pinecone Vector Store3",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        928,
        0
      ],
      "credentials": {
        "pineconeApi": {
          "id": "dXlrQiaIHKllMnnh",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "22ac00c2-bd12-41bf-bb44-53971f733ef0",
              "name": "message",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            },
            {
              "id": "260fbb4b-ed29-41f6-94fc-7c07f5d4c524",
              "name": "userId",
              "value": "={{ $json.sessionId }}",
              "type": "string"
            },
            {
              "id": "d29766fa-b744-44c3-844a-d7e6ddddd5aa",
              "name": "TimeStamp",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9d58228d-066f-4610-af69-cd36e491f60d",
      "name": "Channel",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        976
      ]
    },
    {
      "parameters": {
        "modelName": "embed-english-v3.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        896,
        224
      ],
      "id": "50608677-49ae-471e-8eb4-b875dde84eeb",
      "name": "Embeddings Cohere",
      "credentials": {
        "cohereApi": {
          "id": "qM82BRiYi9xNnlOp",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "embed-english-v3.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        832,
        1600
      ],
      "id": "65ae8ab8-798b-41b7-9376-7a28c95a1afc",
      "name": "Embeddings Cohere1",
      "credentials": {
        "cohereApi": {
          "id": "qM82BRiYi9xNnlOp",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        448,
        1200
      ],
      "id": "5019dbe1-0386-464b-9795-f2b2342d504e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "HwHPw7qYO2wdmq2D",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1040,
        1392
      ],
      "id": "d2f247e6-5853-443f-b15e-01b2cfe7f1ee",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "HwHPw7qYO2wdmq2D",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        976
      ],
      "id": "19f9e6e6-6b75-4b10-8f35-643f3f5f9552",
      "name": "When chat message received",
      "webhookId": "4d388144-b1a6-4728-9f39-2e3e4011c36f"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Channel').item.json.userId }}",
        "contextWindowLength": 99
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        576,
        1200
      ],
      "id": "13b66b7e-9770-4126-bf03-857f54491a4b",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        128,
        -32
      ],
      "id": "646d5770-12af-4b3a-bb12-efdea4c0d834",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1E3w_p40q5umgBh4CpjclZAYlp-t5TnHX",
          "mode": "list",
          "cachedResultName": "Edifyt.txt",
          "cachedResultUrl": "https://drive.google.com/file/d/1E3w_p40q5umgBh4CpjclZAYlp-t5TnHX/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        352,
        -32
      ],
      "id": "2a231e82-3a03-4e9f-bdb2-378976e4d7e4",
      "name": "Download file",
      "credentials": {
        "googleApi": {
          "id": "oWq8fcswkYhVgLyv",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        560,
        -32
      ],
      "id": "066aac51-5a54-4355-a1ec-73c1a168239c",
      "name": "Extract from File"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-11T16:38:52.511Z",
      "createdAt": "2025-11-11T16:38:52.511Z",
      "role": "workflow:owner",
      "workflowId": "z14HmRweo2MkCY2l",
      "projectId": "POJtR4euQRkudXYs"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-11T16:48:05.000Z",
  "versionId": "2dfa91b5-40c7-4b6a-90e5-1364d39dca31"
}