workflows/Whatsapp Bot/Whatsapp Bot.json
{
  "active": false,
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-21T16:17:36.245Z",
  "id": "nSTaVpXKRpkFGDwJ",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Whatsapp Bot",
  "nodes": [
    {
      "parameters": {
        "updates": "={{ [\"messages\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -208,
        0
      ],
      "id": "669d4ca5-f006-4162-a560-f2b170afea8b",
      "name": "WhatsApp Trigger",
      "webhookId": "e31b1b88-9b4b-4c52-9a1b-490d7563b76b",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "xsc3DsGTDCmhqb27",
          "name": "OAuth - [ j.ahmed.ja7a7@gmail.com ]"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}",
        "options": {
          "systemMessage": "=Reply to the user's message accordingly {{ $json.messages[0].text.body }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        128,
        0
      ],
      "id": "d7e2d750-dd13-46b2-8471-1c5e658fee25",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "826242673899272",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        480,
        0
      ],
      "id": "50b566ba-82fa-49b0-a892-192d9a2aec6e",
      "name": "WhatsApp Reply",
      "webhookId": "121dbaa0-8c97-43c5-bb33-768685021aee",
      "credentials": {
        "whatsAppApi": {
          "id": "4h5b5xXNykc8Kz3U",
          "name": "Token - [ j.ahmed.ja7a7@gmail.com ]"
        }
      }
    },
    {
      "parameters": {
        "content": "## Whatsapp bot",
        "height": 600,
        "width": 1420,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -528,
        -176
      ],
      "id": "969f07a8-5da1-4983-9d8d-ab282836062f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.contacts[0].wa_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        240,
        240
      ],
      "id": "e36df636-4d44-44ce-a5d0-84559d439c15",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-scout-17b-16e-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -16,
        208
      ],
      "id": "c4dca64e-a62e-41ad-aca0-92cff52c64cb",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "jfWOgRjQ3fbTWtjA",
          "name": "j.ahmed.ja7a7@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "826242673899272",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        480,
        192
      ],
      "id": "6a09ce78-6e37-4116-bc21-2fa3023bff55",
      "name": "Send message",
      "webhookId": "5d3b553a-f533-4910-aabe-1cbe891f37f0",
      "credentials": {
        "whatsAppApi": {
          "id": "4h5b5xXNykc8Kz3U",
          "name": "Token - [ j.ahmed.ja7a7@gmail.com ]"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-09-21T16:17:36.263Z",
      "createdAt": "2025-09-21T16:17:36.263Z",
      "role": "workflow:owner",
      "workflowId": "nSTaVpXKRpkFGDwJ",
      "projectId": "2lFcYqGDoW8pSvlN"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-09-22T13:00:00.000Z",
  "versionId": "6bda7211-9253-4d00-a8d5-70b35089b9fe"
}