workflows/Upload n8n Workflows to Google Drive/Upload n8n Workflows to Google Drive.json
{
  "active": false,
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get All Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Workflows": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Workflow Details": {
      "main": [
        [
          {
            "node": "Prepare Binary JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Binary JSON": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Valid Workflow": {
      "main": [
        [
          {
            "node": "Get Workflow Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Check Valid Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-27T13:03:51.971Z",
  "id": "wmX9D1DvCQBxi41k",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Upload n8n Workflows to Google Drive",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        112,
        272
      ],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        336,
        272
      ],
      "id": "b2c3d4e5-f6g7-8901-bcde-f23456789012",
      "name": "Get All Workflows",
      "credentials": {
        "n8nApi": {
          "id": "eo6P5MTbGWhy1lsK",
          "name": "n8n - [ j.ahmed.ja7a7@gmail.com ]"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the workflow data from input\n// Stringify it and create binary data for upload\n\nconst workflowData = $input.all()[0].json;\nconst workflowJson = JSON.stringify(workflowData, null, 2);\n\nconst binaryData = {\n  data: Buffer.from(workflowJson, 'utf8').toString('base64'),\n  mimeType: 'application/json',\n  fileName: `${workflowData.name || 'workflow'}.json`\n};\n\nreturn {\n  json: {\n    workflowId: workflowData.id,\n    workflowName: workflowData.name\n  },\n  binary: {\n    uploadFile: binaryData\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        272
      ],
      "id": "c3d4e5f6-g7h8-9012-cdef-345678901234",
      "name": "Prepare Binary JSON"
    },
    {
      "parameters": {
        "operation": "get",
        "workflowId": "={{ $json.id }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        1008,
        272
      ],
      "id": "d4e5f6g7-h8i9-0123-defg-456789012345",
      "name": "Get Workflow Details",
      "credentials": {
        "n8nApi": {
          "id": "eo6P5MTbGWhy1lsK",
          "name": "n8n - [ j.ahmed.ja7a7@gmail.com ]"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition1",
              "leftValue": "={{ $json.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        784,
        272
      ],
      "id": "g7h8i9j0-k1l2-3456-ghij-789012345678",
      "name": "Check Valid Workflow"
    },
    {
      "parameters": {
        "inputDataFieldName": "uploadFile",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1FTWi831Ky6GhnrJO4ra-YpW0q0rr4Yin",
          "mode": "list",
          "cachedResultName": "Edify-n8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1FTWi831Ky6GhnrJO4ra-YpW0q0rr4Yin"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1456,
        272
      ],
      "id": "0cb30a7a-3d54-44bc-b278-12d64af6ef81",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HFA8dFUuiJNxyN15",
          "name": "OAuth - [ j.ahmed.ja7a7@gmail.com ]"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        560,
        272
      ],
      "id": "2c1c81d7-ef4c-4384-b5f8-d0969ec4b496",
      "name": "Loop Over Items"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-09-27T13:03:51.976Z",
      "createdAt": "2025-09-27T13:03:51.976Z",
      "role": "workflow:owner",
      "workflowId": "wmX9D1DvCQBxi41k",
      "projectId": "2lFcYqGDoW8pSvlN"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-27T13:17:03.000Z",
  "versionId": "ccb57034-413d-4030-ac74-a9025a772f17"
}