workflows/Invoice Chatbot w/ Telegram**/Invoice Chatbot w/ Telegram**.json
{
  "active": false,
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Invoice Chatbot",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Invoice Chatbot",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Invoice Chatbot": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Sheets": {
      "ai_tool": [
        [
          {
            "node": "Invoice Chatbot",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "PDFco Api",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDFco Api": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Invoice Chatbot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-24T12:46:30.469Z",
  "id": "IjFpppKptYgvTjPc",
  "isArchived": false,
  "meta": null,
  "name": "Invoice Chatbot w/ Telegram**",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -256,
        160
      ],
      "id": "65ab600a-0db0-4d5f-8e42-4defe3ec749e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "wNJ4kmgaGyK198C4",
          "name": "blyt69kun@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \n\"invoice_id\":\"\", \n\"client_name\":\"\", \n\"status\":\"\", \n\"pdf_url\":\"\", \n\"amount\":\"\", \n\"date\":\"\"\n  \n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        144,
        144
      ],
      "id": "5f3824be-a8e4-4e6f-bed5-7f0855e69763",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Extract the invoice ID (number only) from this query:\n\"{{ $json.message.text }}\"\nYou're also connected with the Google sheets. \nCheck the invoice id from google sheet and then prepare the output\nReturn output in JSON:\n{\n  \ninvoice_id, \nclient_name, \nstatus, \npdf_url, \namount, \ndate\n\n}\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -96,
        -144
      ],
      "id": "9615c279-1a28-4f39-b764-443ffc9116dd",
      "name": "Invoice Chatbot"
    },
    {
      "parameters": {
        "operation": "URL/HTML to PDF",
        "advancedOptions": {}
      },
      "type": "n8n-nodes-pdfco.PDFco Api",
      "typeVersion": 1,
      "position": [
        544,
        -144
      ],
      "id": "f6b10de8-e98a-42f1-a667-23613e29ed23",
      "name": "PDFco Api"
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n\n<html>\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>INVOICE BOT</title>\n</head>\n<body>\n  <div class=\"container\">\n    <h1>Invoice:{{ $json.output.invoice_id }}</h1>\n    <h2>Name:{{ $json.output.client_name }}</h2>\n    <h2>Status:{{ $json.output.status }}</h2>\n    <h2>URL:{{ $json.output.pdf_url }}</h2>\n    <h2>Amount:{{ $json.output.amount }}</h2>\n    <h2>Date:{{ $json.output.date }}</h2>\n    <p>Thanks For Using</p>\n  </div>\n</body>\n</html>\n\n<style>\n.container {\n  background-color: #ffffff;\n  text-align: center;\n  padding: 16px;\n  border-radius: 8px;\n}\n\nh1 {\n  color: #ff6d5a;\n  font-size: 24px;\n  font-weight: bold;\n  padding: 8px;\n}\n\nh2 {\n  color: #909399;\n  font-size: 18px;\n  font-weight: bold;\n  padding: 8px;\n}\n</style>\n\n<script>\nconsole.log(\"Hello World!\");\n</script>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        336,
        -144
      ],
      "id": "bcb154c2-51ae-4309-8bf8-cb238b6f65db",
      "name": "HTML"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "={{ $json.name }}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        768,
        -144
      ],
      "id": "b4d7775a-8324-4e5c-8c0e-cc8593aa82ab",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "binaryPropertyName": "={{ $json.name }}",
        "additionalFields": {
          "caption": "Here's Your Invoice"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        992,
        -144
      ],
      "id": "e391bf25-e358-4258-86f9-f695cacb2ef3",
      "name": "Telegram",
      "webhookId": "e33ae26d-def9-4626-8728-540323faeaaf"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        -48,
        176
      ],
      "id": "6df7d93b-68eb-45c6-8e7c-57592148d503",
      "name": "Read Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YAefgAsgr3ppFBcL",
          "name": "OAuth - [ j.ahmed.ja7a7@gmail.com ]"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -336,
        -144
      ],
      "id": "60f07190-5387-4f7e-bfa5-67e42794538d",
      "name": "Telegram Trigger",
      "webhookId": "556f7395-3f8a-4d31-8547-81c7b7d90ac3",
      "credentials": {
        "telegramApi": {
          "id": "TrjCMA928DvkeABC",
          "name": "n8n-P"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-24T12:46:30.491Z",
      "updatedAt": "2025-09-24T12:46:30.491Z",
      "role": "workflow:owner",
      "workflowId": "IjFpppKptYgvTjPc",
      "projectId": "2lFcYqGDoW8pSvlN"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-24T16:17:55.000Z",
  "versionId": "dc30e7bf-6b7f-4a14-a3da-3ab5072eeb7b"
}