workflows/Lead qualification and Telegram Follow Up/Lead qualification and Telegram Follow Up.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Check Lead Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "Save Qualified Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Is-Qualified": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Un-Qualified",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Lead Score": {
      "main": [
        [
          {
            "node": "Check Is-Qualified",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-24T12:45:43.662Z",
  "id": "Ec8Wk4ZVEJ2z3mrQ",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Lead qualification and Telegram Follow Up",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-intake",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -368,
        -48
      ],
      "id": "0a3c87b2-b959-48fa-b953-77a18f2f7a7e",
      "name": "Webhook",
      "webhookId": "9c75ebdf-f8e6-4f4b-8934-d9d0fab53b72"
    },
    {
      "parameters": {
        "chatId": "{json.message.chat.id}",
        "text": "=🎉 New Qualified Lead! \nName:  {{ $json.body.name }}\nEmail: {{ $json.body.email }}\nScore: {{ $json.body.score }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        288,
        -160
      ],
      "id": "3227edbe-211d-4072-8602-88bd05815cf9",
      "name": "Telegram",
      "webhookId": "4ea0cb5a-08b5-43e8-b648-01e152b417b5"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1sS8JkvrZOfCTVkvFhQd7y5_tCPPKJzN6QEduXR84apc",
          "mode": "list",
          "cachedResultName": "N8N Test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sS8JkvrZOfCTVkvFhQd7y5_tCPPKJzN6QEduXR84apc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sS8JkvrZOfCTVkvFhQd7y5_tCPPKJzN6QEduXR84apc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "First name",
              "displayName": "First name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last name",
              "displayName": "Last name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone number",
              "displayName": "Phone number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        288,
        48
      ],
      "id": "ca6b6c49-3cbf-4068-90b0-ef66c5d53730",
      "name": "Send Un-Qualified",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YAefgAsgr3ppFBcL",
          "name": "OAuth - [ j.ahmed.ja7a7@gmail.com ]"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1sS8JkvrZOfCTVkvFhQd7y5_tCPPKJzN6QEduXR84apc",
          "mode": "list",
          "cachedResultName": "N8N Test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sS8JkvrZOfCTVkvFhQd7y5_tCPPKJzN6QEduXR84apc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sS8JkvrZOfCTVkvFhQd7y5_tCPPKJzN6QEduXR84apc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "First name",
              "displayName": "First name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last name",
              "displayName": "Last name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone number",
              "displayName": "Phone number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        512,
        -160
      ],
      "id": "3c6e8e8e-db77-46b2-8921-843f73a76097",
      "name": "Save Qualified Data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f0d316b0-42f8-4e9c-bd0c-a41a89d867ac",
              "leftValue": "={{ $json.body.score }}",
              "rightValue": 7,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        64,
        -48
      ],
      "id": "09680c96-93bb-4de1-a220-cf6f7463c090",
      "name": "Check Is-Qualified"
    },
    {
      "parameters": {
        "jsCode": "const lead = $input.first().json.body\nconst score = lead.score;\n\nreturn [\n  {\n    json: {\n      ...lead,\n      isQualified: score > 7\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        -48
      ],
      "id": "e0fb1e21-2e91-4e6b-baec-622531e6b312",
      "name": "Check Lead Score"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.srv873320.hstgr.cloud",
            "user-agent": "PostmanRuntime/7.44.1",
            "content-length": "71",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br",
            "cache-control": "no-cache",
            "content-type": "application/json",
            "postman-token": "31a6a1e1-95ec-434e-afaa-595e008281b7",
            "x-forwarded-for": "58.65.221.10",
            "x-forwarded-host": "n8n.srv873320.hstgr.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "23297c410631",
            "x-real-ip": "58.65.221.10"
          },
          "params": {},
          "query": {},
          "body": {
            "name": "Alice",
            "email": "alice@email.com",
            "score": 9
          },
          "webhookUrl": "https://n8n.srv873320.hstgr.cloud/webhook-test/lead-intake",
          "executionMode": "test"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-09-24T12:45:43.671Z",
      "createdAt": "2025-09-24T12:45:43.671Z",
      "role": "workflow:owner",
      "workflowId": "Ec8Wk4ZVEJ2z3mrQ",
      "projectId": "2lFcYqGDoW8pSvlN"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-04T12:02:37.000Z",
  "versionId": "52ce0819-9c32-4db9-aed7-b3d4c2443743"
}