workflows/Under Progress/Inbox Labels Manager v1.1/Inbox Labels Manager v1.1.json
{
  "active": false,
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Label Checker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Give a Label",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Give a Label1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Priority",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Personal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notifications",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Newsletter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Business",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Administrative",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Spam",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Label Checker": {
      "main": [
        [
          {
            "node": "Give a Label1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Give a Label1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get many labels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Give a Label",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Give a Label": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Priority2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Personal2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notifications2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Newsletter2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Business2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Administrative2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Spam1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Give a Label1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Give a Label",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Newsletter": {
      "main": [
        []
      ]
    },
    "Create a label": {
      "main": [
        [],
        [
          {
            "node": "Notifications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many labels": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create a label",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-31T15:49:46.512Z",
  "id": "hBRTHa6GZDPOkubr",
  "isArchived": false,
  "meta": null,
  "name": "Inbox Labels Manager v1.1",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "*/15 * * * *"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        80,
        560
      ],
      "id": "4e2dfb92-4825-4c4b-8c25-79d711e16154",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "VwhivJ6KuHCe2Gpc",
          "name": "OAuth - [ blyt69kun@gmail.com ]"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6c287523-4ae2-43c4-8f9a-faf756f01855",
              "leftValue": "={{ $json.labelIds[0] }}",
              "rightValue": "Label",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        2288,
        560
      ],
      "id": "779b4377-bef9-4537-b8c5-a63b612e52da",
      "name": "Filter"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1840,
        560
      ],
      "id": "7d990bd9-70fb-4b93-a63f-c6518d4435fe",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"email_label\": \"business\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        848,
        784
      ],
      "id": "58cf4d94-43b1-488b-aa2a-d29a638da130",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "84ec2be6-ad6b-4ad4-8f8b-d31fafbfad20",
                    "leftValue": "={{ $json.output.email_label }}",
                    "rightValue": "priority",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Priority"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9b600943-3604-4851-b84d-4da0948da2ef",
                    "leftValue": "={{ $json.output.email_label }}",
                    "rightValue": "personal",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Personal"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d7f28656-aeab-4b2f-bd32-6111cb56ecc1",
                    "leftValue": "={{ $json.output.email_label }}",
                    "rightValue": "notifications",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Notifications"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c14ca3c0-ef10-45b5-8acb-f0d0c1339624",
                    "leftValue": "={{ $json.output.email_label }}",
                    "rightValue": "newsletters",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Newsletter"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.email_label }}",
                    "rightValue": "business",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2673ebe3-59ce-4105-9fe9-e4beeb8f3148"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Business"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f0f6a9a2-fff0-4e7b-aed5-49887cb511eb",
                    "leftValue": "={{ $json.output.email_label }}",
                    "rightValue": "administrative",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Administrative"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "617af759-fada-4a67-bc06-be2b0b40989b",
                    "leftValue": "={{ $json.output.email_label }}",
                    "rightValue": "spam",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Spam"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1072,
        480
      ],
      "id": "3619e4b4-4627-4152-bc0a-cc12efc2a22c",
      "name": "Switch1"
    },
    {
      "parameters": {
        "content": "# Sort Incoming Emails",
        "height": 1320,
        "width": 1660
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "815e092b-c26c-4572-83b9-1f653f0d9f8d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Sort Old Emails\n## Must have labels created inside the Gmail in order for this workflow to be executed\n",
        "height": 1320,
        "width": 1920,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1728,
        0
      ],
      "typeVersion": 1,
      "id": "6978a1bb-6c06-41c1-b497-2247b955d5c3",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6c287523-4ae2-43c4-8f9a-faf756f01855",
              "leftValue": "={{ $json.labelIds[0] }}",
              "rightValue": "Label",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        304,
        560
      ],
      "id": "4fa3e8cd-7dfc-4fa9-acec-d17fd806b8eb",
      "name": "Label Checker"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Topic: {{ $json.subject }}\nDescription: {{ $json.text }}\nSender: {{ $json.from.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=** Your Role **\nYou are an intelligent email assistant responsible for sorting incoming messages. Your task is to analyze the content, subject, and sender of each email and assign it to the appropriate category.\n\n** Categories **\nCategories for sorting:\n\n- priority: messages requiring immediate attention (from supervisors, clients)\n- business: correspondence related to current projects, contracts, meetings\n- newsletters: newsletter issues\n- administrative: invoices, contracts, formal documents\n- personal: private messages not related to work\n- notifications: messages from social media, Substack, Coinbase, YouTube\n- spam: unwanted messages, suspicious offers\n\n** Instructions **\nFor each email:\n\n- Analyze the content, subject, and sender\n- Assign it to the appropriate category\n- Add a label with the category\n- If you are unsure, do not label the message\n\n** Response Format **\nAlways return the result in JSON format:\n\n{\n  \"email_label\": \"business\"\n}\n\nIMPORTANT – the response must always be in lowercase."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        512,
        560
      ],
      "id": "090a6692-5fe7-4227-afd1-c53e4b23ae5c",
      "name": "Give a Label1"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_2988657940917480641"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1344,
        944
      ],
      "id": "d4483c51-7f5e-43f4-9f30-36416380607b",
      "name": "Administrative",
      "webhookId": "70219a19-4705-493c-9291-527655dd8099",
      "credentials": {
        "gmailOAuth2": {
          "id": "Q458x3HuWMnd4WaH",
          "name": "OAuth - [ j.ahmed.ja7a7@gmail.com ]"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1344,
        128
      ],
      "id": "d45e70b9-0f08-4e33-aedc-233d8cad55bb",
      "name": "Priority",
      "webhookId": "70219a19-4705-493c-9291-527655dd8099",
      "credentials": {
        "gmailOAuth2": {
          "id": "Q458x3HuWMnd4WaH",
          "name": "OAuth - [ j.ahmed.ja7a7@gmail.com ]"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": "={{ $('Gmail Trigger').item.json.labelIds }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1344,
        784
      ],
      "id": "bf3a19ca-905f-4e40-a172-2bbf7c5f176b",
      "name": "Business",
      "webhookId": "70219a19-4705-493c-9291-527655dd8099",
      "credentials": {
        "gmailOAuth2": {
          "id": "Q458x3HuWMnd4WaH",
          "name": "OAuth - [ j.ahmed.ja7a7@gmail.com ]"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": "={{ [$('Give a Label1').item.json.output.email_label] }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1344,
        624
      ],
      "id": "0b7e5721-bf6f-4908-be78-9a60d6bf3c4a",
      "name": "Newsletter",
      "webhookId": "70219a19-4705-493c-9291-527655dd8099",
      "credentials": {
        "gmailOAuth2": {
          "id": "Q458x3HuWMnd4WaH",
          "name": "OAuth - [ j.ahmed.ja7a7@gmail.com ]"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": "={{ [ $('Create a label').item.json.id ] }}\n"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1344,
        288
      ],
      "id": "d6b7197f-9e4e-4c76-b9fe-8f4fbc46a904",
      "name": "Personal",
      "webhookId": "70219a19-4705-493c-9291-527655dd8099",
      "credentials": {
        "gmailOAuth2": {
          "id": "Q458x3HuWMnd4WaH",
          "name": "OAuth - [ j.ahmed.ja7a7@gmail.com ]"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": "={{ [$json.output.email_label] }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1344,
        448
      ],
      "id": "0a12f8e7-8e27-4e65-9b0e-7bda5de65f48",
      "name": "Notifications",
      "webhookId": "70219a19-4705-493c-9291-527655dd8099",
      "credentials": {
        "gmailOAuth2": {
          "id": "VwhivJ6KuHCe2Gpc",
          "name": "OAuth - [ blyt69kun@gmail.com ]"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2512,
        784
      ],
      "id": "f1d6bdc3-5572-45b4-8cc8-0cddb79ddf70",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"email_label\": \"business\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        2720,
        784
      ],
      "id": "b6a67c82-66c1-4276-90a1-47966b06e5a3",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Topic: {{ $json.subject }}\nDescription: {{ $json.text }}\nSender: {{ $json.from.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=** Your Role **\nYou are an intelligent email assistant responsible for sorting incoming messages. Your task is to analyze the content, subject, and sender of each email and assign it to the appropriate category.\n\n** Categories **\nCategories for sorting:\n\n- priority: messages requiring immediate attention (from supervisors, clients)\n- business: correspondence related to current projects, contracts, meetings\n- newsletters: newsletter issues\n- administrative: invoices, contracts, formal documents\n- personal: private messages not related to work\n- notifications: messages from social media, Substack, Coinbase, YouTube\n- spam: unwanted messages, suspicious offers\n\n** Instructions **\nFor each email:\n\n- Analyze the content, subject, and sender\n- Assign it to the appropriate category\n- Add a label with the category\n- If you are unsure, do not label the message\n\n** Response Format **\nAlways return the result in JSON format:\n\n{\n  \"email_label\": \"business\"\n}\n\nIMPORTANT – the response must always be in lowercase."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        2544,
        560
      ],
      "id": "e384e087-30e8-4c73-b075-ab26b23f0f27",
      "name": "Give a Label"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "SPAM"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1344,
        1104
      ],
      "id": "3e9ffe86-09b6-45ee-9865-f0d2e5f6c901",
      "name": "Spam",
      "webhookId": "70219a19-4705-493c-9291-527655dd8099",
      "credentials": {
        "gmailOAuth2": {
          "id": "Q458x3HuWMnd4WaH",
          "name": "OAuth - [ j.ahmed.ja7a7@gmail.com ]"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "84ec2be6-ad6b-4ad4-8f8b-d31fafbfad20",
                    "leftValue": "={{ $json.output.email_label }}",
                    "rightValue": "priority",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Priority"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9b600943-3604-4851-b84d-4da0948da2ef",
                    "leftValue": "={{ $json.output.email_label }}",
                    "rightValue": "personal",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Personal"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d7f28656-aeab-4b2f-bd32-6111cb56ecc1",
                    "leftValue": "={{ $json.output.email_label }}",
                    "rightValue": "notifications",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Notifications"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c14ca3c0-ef10-45b5-8acb-f0d0c1339624",
                    "leftValue": "={{ $json.output.email_label }}",
                    "rightValue": "newsletters",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Newsletter"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.email_label }}",
                    "rightValue": "business",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2673ebe3-59ce-4105-9fe9-e4beeb8f3148"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Business"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f0f6a9a2-fff0-4e7b-aed5-49887cb511eb",
                    "leftValue": "={{ $json.output.email_label }}",
                    "rightValue": "administrative",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Administrative"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "617af759-fada-4a67-bc06-be2b0b40989b",
                    "leftValue": "={{ $json.output.email_label }}",
                    "rightValue": "spam",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Spam"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2960,
        480
      ],
      "id": "b288c980-8d8f-4d36-9bbe-5467f4c3d9ca",
      "name": "Switch2"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Get many messages').item.json.id }}",
        "labelIds": [
          "Label_2988657940917480641"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3248,
        944
      ],
      "id": "1b37adf1-1c19-41d0-bbb5-293178260f65",
      "name": "Administrative2",
      "webhookId": "70219a19-4705-493c-9291-527655dd8099",
      "credentials": {
        "gmailOAuth2": {
          "id": "VwhivJ6KuHCe2Gpc",
          "name": "OAuth - [ blyt69kun@gmail.com ]"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Get many messages').item.json.id }}",
        "labelIds": [
          "Label_139625704548697594"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3248,
        128
      ],
      "id": "2d45c9d3-973c-4244-959d-fa96ba4a9022",
      "name": "Priority2",
      "webhookId": "70219a19-4705-493c-9291-527655dd8099",
      "credentials": {
        "gmailOAuth2": {
          "id": "VwhivJ6KuHCe2Gpc",
          "name": "OAuth - [ blyt69kun@gmail.com ]"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Get many messages').item.json.id }}",
        "labelIds": [
          "Label_5054236471108677944"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3248,
        784
      ],
      "id": "cba452ce-2ed3-4f96-bff9-7082fa590dbf",
      "name": "Business2",
      "webhookId": "70219a19-4705-493c-9291-527655dd8099",
      "credentials": {
        "gmailOAuth2": {
          "id": "VwhivJ6KuHCe2Gpc",
          "name": "OAuth - [ blyt69kun@gmail.com ]"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Get many messages').item.json.id }}",
        "labelIds": [
          "Label_1468334941681720900"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3248,
        624
      ],
      "id": "2f2874ad-46e6-491f-bf20-3fb1c240e7fc",
      "name": "Newsletter2",
      "webhookId": "70219a19-4705-493c-9291-527655dd8099",
      "credentials": {
        "gmailOAuth2": {
          "id": "VwhivJ6KuHCe2Gpc",
          "name": "OAuth - [ blyt69kun@gmail.com ]"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Get many messages').item.json.id }}",
        "labelIds": [
          "Label_3193884425674762127"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3248,
        288
      ],
      "id": "5c0f4380-acf5-4951-a0ad-60dd38d6baf9",
      "name": "Personal2",
      "webhookId": "70219a19-4705-493c-9291-527655dd8099",
      "credentials": {
        "gmailOAuth2": {
          "id": "VwhivJ6KuHCe2Gpc",
          "name": "OAuth - [ blyt69kun@gmail.com ]"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Get many messages').item.json.id }}",
        "labelIds": [
          "Label_1"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3248,
        448
      ],
      "id": "009b44f9-1e39-4937-a0b2-b8940d1acf04",
      "name": "Notifications2",
      "webhookId": "70219a19-4705-493c-9291-527655dd8099",
      "credentials": {
        "gmailOAuth2": {
          "id": "VwhivJ6KuHCe2Gpc",
          "name": "OAuth - [ blyt69kun@gmail.com ]"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Get many messages').item.json.id }}",
        "labelIds": [
          "SPAM"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3248,
        1104
      ],
      "id": "e1e5c815-441c-4014-8e81-bdceda77f2f6",
      "name": "Spam1",
      "webhookId": "70219a19-4705-493c-9291-527655dd8099",
      "credentials": {
        "gmailOAuth2": {
          "id": "VwhivJ6KuHCe2Gpc",
          "name": "OAuth - [ blyt69kun@gmail.com ]"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 15,
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2064,
        560
      ],
      "id": "1de55a0d-b45d-419b-a07f-e813fb40b29b",
      "name": "Get many messages",
      "webhookId": "a0511bfe-4783-4d8a-a297-c1d75fba8f02",
      "credentials": {
        "gmailOAuth2": {
          "id": "VwhivJ6KuHCe2Gpc",
          "name": "OAuth - [ blyt69kun@gmail.com ]"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        528,
        768
      ],
      "id": "6c9a26c9-1d31-4b64-8fff-9b138eba46f9",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "CUz8utBxtWQreX8c",
          "name": "j.ahmed.ja7a7@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2400,
        768
      ],
      "id": "7da6dce9-8c58-4728-904c-6145692fe2c8",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "CUz8utBxtWQreX8c",
          "name": "j.ahmed.ja7a7@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "resource": "label",
        "operation": "create",
        "name": "={{ $('Give a Label1').item.json.output.email_label }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1072,
        240
      ],
      "id": "164e5d20-f19b-4e5b-b49d-52ac5ff4c2f2",
      "name": "Create a label",
      "webhookId": "87232288-51ca-46f0-94a6-bd19a0ac7053",
      "credentials": {
        "gmailOAuth2": {
          "id": "VwhivJ6KuHCe2Gpc",
          "name": "OAuth - [ blyt69kun@gmail.com ]"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "label",
        "returnAll": true
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        768,
        96
      ],
      "id": "1dd08121-3187-4f64-83b3-01aacaf5da22",
      "name": "Get many labels",
      "webhookId": "8d317e6d-f7b7-48f7-b98f-7808ac6f894a",
      "credentials": {
        "gmailOAuth2": {
          "id": "VwhivJ6KuHCe2Gpc",
          "name": "OAuth - [ blyt69kun@gmail.com ]"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4d1da2ac-3602-4f23-98d3-d027b775c1d9",
              "leftValue": "={{ $json.id }}",
              "rightValue": "={{ $('Give a Label1').item.json.output.email_label }}",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        832,
        368
      ],
      "id": "de6dfc11-7b32-409d-a19c-e6d6bde0cc3d",
      "name": "If"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-31T15:49:46.516Z",
      "updatedAt": "2025-08-31T15:49:46.516Z",
      "role": "workflow:owner",
      "workflowId": "hBRTHa6GZDPOkubr",
      "projectId": "2lFcYqGDoW8pSvlN"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-09-18T17:36:07.156Z",
      "updatedAt": "2025-09-18T17:36:07.156Z",
      "id": "MOWDv62XQtKnDuOJ",
      "name": "Under Progress"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-10-05T12:42:59.000Z",
  "versionId": "45c37065-5842-4757-b790-14904e6ac299"
}