workflows/Customer Feedback Sentiment Analysis/Customer Feedback Sentiment Analysis.json
{
  "active": false,
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sentiment Analysis": {
      "main": [
        [
          {
            "node": "Add Positive Feedback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Suggests Improvements",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Positive Response": {
      "main": [
        [
          {
            "node": "Send response to positive feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Suggests Improvements": {
      "main": [
        [
          {
            "node": "Add Negative Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Apology Email": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Positive Feedback": {
      "main": [
        [
          {
            "node": "Write Positive Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Negative Feedback": {
      "main": [
        [
          {
            "node": "Write Apology Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Write Positive Response",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Suggests Improvements",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Write Apology Email",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-31T15:44:13.148Z",
  "id": "ggGSRntmg8dl78gy",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Customer Feedback Sentiment Analysis",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Customer Feedback",
        "formDescription": "We value your feedback! Let us know about your experience and what we can improve",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name",
              "placeholder": "Please enter your name...",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "placeholder": "Please enter your email...",
              "requiredField": true
            },
            {
              "fieldLabel": "Feedback",
              "fieldType": "textarea",
              "placeholder": "Please describe your experience...",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -768,
        96
      ],
      "id": "90d0fe98-bbba-48d4-8d7f-29642e04eacb",
      "name": "On form submission",
      "webhookId": "282d71a8-bf16-49c1-8f77-35c6219c63f2"
    },
    {
      "parameters": {
        "inputText": "={{ $json.Feedback }}",
        "options": {
          "categories": "Positive, Negative"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.sentimentAnalysis",
      "typeVersion": 1.1,
      "position": [
        -560,
        96
      ],
      "id": "3ed8011d-2b99-46ee-8e1d-7c53a93f8e32",
      "name": "Sentiment Analysis"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a customer support representative for an AI Automation Agency known as Aztec Intel specialized in helping SME implement AI Agents and AI Automation solutions.\n\nWrite a friendly response to the customer feedback beloe. Format as HTML email and sign from Marc at Aztec Intel. Return only HTML code, do not include ```html\n\nCustomer Name:\n\n {{ $('On form submission').item.json.Name }}\n\nFeedback:\n\n{{ $('On form submission').item.json.Feedback }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        0,
        0
      ],
      "id": "8855f51c-526d-43b5-98b4-d825dd0c1040",
      "name": "Write Positive Response"
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "Thank you for your valuable feedback",
        "message": "={{ $json.text }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        352,
        0
      ],
      "id": "416b78fa-bac6-4764-801f-71ab11c399f2",
      "name": "Send response to positive feedback",
      "webhookId": "9041a35a-efcc-475f-9411-e5a58fe9bdd0",
      "credentials": {
        "gmailOAuth2": {
          "id": "Q458x3HuWMnd4WaH",
          "name": "OAuth - j.ahmed.ja7a7@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a customer support representative for an AI Automation Agency known as Aztec Intel specialized in helping SME implement AI Agents and AI Automation solutions.\n\nA client jst submitted feedback about our services which you can see below.\n\nPlease provide a concise suggestion on what Aztec Intel can do to address their concerns and improve client  satisfaction in the future\n\n\n\nFeedback:\n\n{{ $('On form submission').item.json.Feedback }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        16,
        240
      ],
      "id": "6cafde58-28cc-4ddd-be6b-9648294916ae",
      "name": "Suggests Improvements"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a customer support representative for an AI Automation Agency known as AdaptifyAI specialized in helping SME implement AI Agents and AI Automation solutions.\n\nWrite a friendly  and concise response to the followin customer feedback. \n\nThe email should thank the client for their feedback about the services, acknowledge thei concerns, and inform that this has been escalated to our management . Offer to extend their current autmaton package with one additional AI Agent integration at no extra charge.\n\n\nFormat as HTML email and sign from Marc at AdaptifyAI. Return only HTML code, do not include ```html\n\nCustomer Name:\n\n {{ $('On form submission').item.json.Name }}\n\nFeedback:\n\n{{ $('On form submission').item.json.Feedback }}\n\nAI Suggestion: ",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        608,
        240
      ],
      "id": "c8d3071c-4404-48d7-afa7-4cf6fd7b52f8",
      "name": "Write Apology Email"
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "We're sorry here's how we'll fix this ",
        "message": "={{ $json.text }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        960,
        240
      ],
      "id": "90a7fa5f-8f60-4976-887b-40356d832861",
      "name": "Send a message",
      "webhookId": "7a0dc0d3-fc93-42e5-9ba8-178a603100ae",
      "credentials": {
        "gmailOAuth2": {
          "id": "Q458x3HuWMnd4WaH",
          "name": "OAuth - j.ahmed.ja7a7@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "19IsyWHqSndLc8aJUP6PlN2lE7FkrXtCdUYIxSTSjLTI",
          "mode": "list",
          "cachedResultName": "Sentimental Analysis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19IsyWHqSndLc8aJUP6PlN2lE7FkrXtCdUYIxSTSjLTI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 163284440,
          "mode": "list",
          "cachedResultName": "Postive Feedback",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yFMxXRCx9qUK9uFtMzv90Tbdg5UqzAscCsEV6VvAXg0/edit#gid=163284440"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('On form submission').item.json.Email }}",
            "Name": "={{ $('On form submission').item.json.Name }}",
            "Feedback": "={{ $('On form submission').item.json.Feedback }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -224,
        32
      ],
      "id": "f9fece9d-544b-42c4-8765-6fc3a970ce97",
      "name": "Add Positive Feedback",
      "credentials": {
        "googleApi": {
          "id": "wZNFtmT9Bl8TsFbg",
          "name": "edify-automation - [ j.ahmed.ja7a7@gmail.com ]"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "19IsyWHqSndLc8aJUP6PlN2lE7FkrXtCdUYIxSTSjLTI",
          "mode": "list",
          "cachedResultName": "Sentimental Analysis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19IsyWHqSndLc8aJUP6PlN2lE7FkrXtCdUYIxSTSjLTI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 936812742,
          "mode": "list",
          "cachedResultName": "Negative Feedback",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19IsyWHqSndLc8aJUP6PlN2lE7FkrXtCdUYIxSTSjLTI/edit#gid=936812742"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('On form submission').item.json.Name }}",
            "Email": "={{ $('On form submission').item.json.Email }}",
            "Feedback": "={{ $('On form submission').item.json.Feedback }}",
            "AI Suggestion": "={{ $json.text }}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI Suggestion",
              "displayName": "AI Suggestion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        384,
        240
      ],
      "id": "0c261a3a-2223-404d-8488-efc135e0c218",
      "name": "Add Negative Feedback",
      "credentials": {
        "googleApi": {
          "id": "wZNFtmT9Bl8TsFbg",
          "name": "edify-automation - [ j.ahmed.ja7a7@gmail.com ]"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -320,
        544
      ],
      "id": "0bbe2877-11e8-4597-aa20-0b39db5e2da5",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "CUz8utBxtWQreX8c",
          "name": "j.ahmed.ja7a7@gmail.com"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-08-31T15:44:13.154Z",
      "createdAt": "2025-08-31T15:44:13.154Z",
      "role": "workflow:owner",
      "workflowId": "ggGSRntmg8dl78gy",
      "projectId": "2lFcYqGDoW8pSvlN"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-02T05:08:59.000Z",
  "versionId": "2650f839-fbb5-4171-b5f0-3c2b3aea9aa5"
}