workflows/Real Estate Agent/Real Estate Agent.json
{
  "active": false,
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Find Deals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Find Deals": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-03T12:28:09.127Z",
  "id": "jeyyHzgO8onR9jD7",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Real Estate Agent",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Real Estate - Submission From",
        "formDescription": "Provide all necessary details",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Location",
              "requiredField": true
            },
            {
              "fieldLabel": "Status",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "forSale"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Minimum Price",
              "requiredField": true
            },
            {
              "fieldLabel": "Maxiumum Price",
              "requiredField": true
            },
            {
              "fieldLabel": "Minimum Number of Beds",
              "requiredField": true
            },
            {
              "fieldLabel": "Minimum Number of Bathrooms",
              "requiredField": true
            },
            {
              "fieldLabel": "sortselection",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "pricea"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Multi Family?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "true"
                  },
                  {
                    "option": "false"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        128,
        432
      ],
      "id": "81cb0bf5-54e2-4311-8052-2bf36910e0a8",
      "name": "On form submission",
      "webhookId": "f5fda5c7-528f-434b-a5ec-ef581460f34a"
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        560,
        432
      ],
      "id": "2b58a000-cd48-4eeb-a1af-80068c15117a",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "61808fe0-e112-4a59-8144-000e01a740a4",
              "name": "Address",
              "value": "={{ $json.streetAddress }} {{ $json.city }} {{ $json.state }} {{ $json.zipcode }} {{ $json.country }}",
              "type": "string"
            },
            {
              "id": "e1ba14f2-70e7-45b8-9689-e7a67e8e727d",
              "name": "homeStatus",
              "value": "={{ $json.homeStatus }}",
              "type": "string"
            },
            {
              "id": "22976b2a-368a-4df6-9908-9b3c0bd67399",
              "name": "homeType",
              "value": "={{ $json.homeType }}",
              "type": "string"
            },
            {
              "id": "26c0e27b-f33b-4a2a-8702-132fc8521f85",
              "name": "totalSize",
              "value": "={{ $json.lotAreaValue }} {{ $json.lotAreaUnit }}",
              "type": "string"
            },
            {
              "id": "50a25013-928b-414b-bf93-e400302e0247",
              "name": "LivingArea",
              "value": "={{ $json.livingArea }} sqft",
              "type": "string"
            },
            {
              "id": "32605b14-d600-46c8-8311-45e40e86acc2",
              "name": "price",
              "value": "={{ $json.price }}",
              "type": "number"
            },
            {
              "id": "ccf8f3da-2d3e-4bb2-8b75-a2e30973b12c",
              "name": "taxAssessedValue",
              "value": "={{ $json.taxAssessedValue }}",
              "type": "number"
            },
            {
              "id": "e9b164b6-e2e2-42ae-8598-e4cedaf95590",
              "name": "zestimate",
              "value": "={{ $json.zestimate }}",
              "type": "number"
            },
            {
              "id": "f38c9d38-378d-4f0c-b978-649a00887deb",
              "name": "rentZestimate",
              "value": "={{ $json.rentZestimate }}",
              "type": "number"
            },
            {
              "id": "b8fe491f-1d3c-4c29-aefe-305360da4e63",
              "name": "priceReduction",
              "value": "={{ $json.priceReduction }}",
              "type": "string"
            },
            {
              "id": "86af9672-e138-46dc-8f7d-760896eec1c0",
              "name": "bathrooms",
              "value": "={{ $json.bathrooms }}",
              "type": "number"
            },
            {
              "id": "f0ab77e3-82de-4eac-9e71-f4c40fe8b59e",
              "name": "bedrooms",
              "value": "={{ $json.bedrooms }}",
              "type": "number"
            },
            {
              "id": "b1381cf6-16a7-48f3-b6ce-57488c3a34c5",
              "name": "isNonOwnerOccupied",
              "value": "={{ $json.isNonOwnerOccupied }}",
              "type": "boolean"
            },
            {
              "id": "96608580-d7dc-408a-93f6-652053b5e10d",
              "name": "isPreforeclosureAuction",
              "value": "={{ $json.isPreforeclosureAuction }}",
              "type": "boolean"
            },
            {
              "id": "c6bcb998-54a8-4b16-a475-bb70aeefd8c6",
              "name": "isPremierBuilder",
              "value": "={{ $json.isPremierBuilder }}",
              "type": "boolean"
            },
            {
              "id": "3239c03a-ff22-40cd-bd0c-4a25b6c137aa",
              "name": "isShowcaseListing",
              "value": "={{ $json.isShowcaseListing }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        784,
        432
      ],
      "id": "6ee63764-5543-4d62-ad00-80018b96b800",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "// ── CONFIGURABLE ASSUMPTIONS ─────────────────────────────────────────\nconst downPaymentPct     = 0.20;   // 20 % down\nconst closingCostPct     = 0.03;   // 3 % closing costs\nconst annualInterestRate = 0.05;   // 5 % APR\nconst loanTermYears      = 30;     // 30‑yr mortgage\nconst propertyTaxRate    = 0.012;  // 1.2 % of assessed value per year\nconst insuranceRate      = 0.003;  // 0.3 % of price per year\nconst maintenanceRate    = 0.01;   // 1 % of price per year\n// ─────────────────────────────────────────────────────────────────────\n\n// IMPORTANT for n8n: return array of { json: … }\nreturn items.map(item => {\n\n  // —— raw inputs (fall back to 0 if missing) ————————————————\n  const j              = item.json;\n  const price          = parseFloat(j.price)           || 0;\n  const rent           = parseFloat(j.rentZestimate)   || 0;\n  const livingArea     = parseFloat(j.LivingArea)      || 0;  // sqft\n  const zEstimate      = parseFloat(j.zestimate)       || 0;\n  const taxAssessedVal = parseFloat(j.taxAssessedValue)|| price;\n  // ————————————————————————————————————————————————————————\n\n  // —— Financing ——————————————————————————\n  const downPayment    = price * downPaymentPct;\n  const closingCosts   = price * closingCostPct;\n  const loanAmount     = price - downPayment;\n  const monthlyRate    = annualInterestRate / 12;\n  const numPayments    = loanTermYears * 12;\n  const mortgagePayment= loanAmount * monthlyRate /\n                         (1 - Math.pow(1 + monthlyRate, -numPayments));\n\n  // —— Operating expenses ———————————————\n  const annualTax      = taxAssessedVal * propertyTaxRate;\n  const annualIns      = price * insuranceRate;\n  const annualMaint    = price * maintenanceRate;\n\n  const monthlyTax     = annualTax   / 12;\n  const monthlyIns     = annualIns   / 12;\n  const monthlyMaint   = annualMaint / 12;\n\n  // —— Cash‑flow & returns ——————————————\n  const totalMonthlyExp = mortgagePayment + monthlyTax + monthlyIns + monthlyMaint;\n  const monthlyCashFlow = rent - totalMonthlyExp;\n  const annualCashFlow  = monthlyCashFlow * 12;\n\n  const capRate         = annualCashFlow / price;                 // NOI ÷ price\n  const cashOnCashROI   = annualCashFlow / (downPayment + closingCosts);\n\n  // —— Extra metrics ————————————————\n  const pricePerSqft    = livingArea ? price / livingArea : 0;\n  const rentPerSqft     = livingArea ? rent  / livingArea : 0;\n  const rentToPricePct  = price ? (rent * 12) / price : 0;        // GRM inverse\n  const priceVsZestPct  = zEstimate ? (price - zEstimate) / zEstimate : 0;\n  // ————————————————————————————————————————————————————————\n\n  // —— Attach everything to output JSON ——\n  Object.assign(j, {\n    downPayment:          +downPayment.toFixed(2),\n    closingCosts:         +closingCosts.toFixed(2),\n    loanAmount:           +loanAmount.toFixed(2),\n    mortgagePayment:      +mortgagePayment.toFixed(2),\n\n    monthlyPropertyTax:   +monthlyTax.toFixed(2),\n    monthlyInsurance:     +monthlyIns.toFixed(2),\n    monthlyMaintenance:   +monthlyMaint.toFixed(2),\n    totalMonthlyExpenses: +totalMonthlyExp.toFixed(2),\n\n    monthlyCashFlow:      +monthlyCashFlow.toFixed(2),\n    annualCashFlow:       +annualCashFlow.toFixed(2),\n\n    capRate:              +capRate.toFixed(4),         // 0.0523 ➜ 5.23 %\n    cashOnCashROI:        +cashOnCashROI.toFixed(4),   // 0.1234 ➜ 12.34 %\n\n    pricePerSqft:         +pricePerSqft.toFixed(2),\n    rentPerSqft:          +rentPerSqft.toFixed(2),\n    rentToPricePct:       +(rentToPricePct*100).toFixed(2), // % of price per yr\n    priceVsZestimatePct:  +(priceVsZestPct*100).toFixed(2) // over/under %\n  });\n\n  // Return a proper n8n item\n  return { json: j };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        432
      ],
      "id": "62b9a1c1-3ef2-4692-94c3-66594a91bec1",
      "name": "Code"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1-5nfnXSP_p32k_8G8wPvOaQdkXFJQEraEw_KrOc45SM",
          "mode": "list",
          "cachedResultName": "Real Estate ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-5nfnXSP_p32k_8G8wPvOaQdkXFJQEraEw_KrOc45SM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-5nfnXSP_p32k_8G8wPvOaQdkXFJQEraEw_KrOc45SM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Address": "={{ $json.Address }}",
            "Home Status": "={{ $json.homeStatus }}",
            "Home Type": "={{ $json.homeType }}",
            "Total Size": "={{ $json.totalSize }}",
            "Living Area": "={{ $json.LivingArea }}",
            "Price": "={{ $json.price }}",
            "Tax Assessed Value": "={{ $json.taxAssessedValue }}",
            "Zestimate": "={{ $json.zestimate }}",
            "Rent Zestimate": "={{ $json.rentZestimate }}",
            "Price Reduction": "={{ $json.priceReduction }}"
          },
          "matchingColumns": [
            "Address"
          ],
          "schema": [
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Home Status",
              "displayName": "Home Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Home Type",
              "displayName": "Home Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Size",
              "displayName": "Total Size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Living Area",
              "displayName": "Living Area",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Price",
              "displayName": "Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tax Assessed Value",
              "displayName": "Tax Assessed Value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Zestimate",
              "displayName": "Zestimate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rent Zestimate",
              "displayName": "Rent Zestimate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Price Reduction",
              "displayName": "Price Reduction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Bathrooms",
              "displayName": "Bathrooms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Bedrooms",
              "displayName": "Bedrooms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "isNonOwnerOccupied",
              "displayName": "isNonOwnerOccupied",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "isPreforeClosureAuction",
              "displayName": "isPreforeClosureAuction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "isPremierBuilder",
              "displayName": "isPremierBuilder",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "isShowcaseListing",
              "displayName": "isShowcaseListing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Down Payment",
              "displayName": "Down Payment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Closing Costs",
              "displayName": "Closing Costs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Loan Amount",
              "displayName": "Loan Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mortgage Payment",
              "displayName": "Mortgage Payment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Monthly Property Tax",
              "displayName": "Monthly Property Tax",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Monthly Insurance",
              "displayName": "Monthly Insurance",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Monthly Maintenance",
              "displayName": "Monthly Maintenance",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Monthly Expenses",
              "displayName": "Total Monthly Expenses",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Monthly Cash Flow",
              "displayName": "Monthly Cash Flow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Annual Cash Flow",
              "displayName": "Annual Cash Flow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cap Rate",
              "displayName": "Cap Rate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cash on Cash ROI",
              "displayName": "Cash on Cash ROI",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Price per sqft",
              "displayName": "Price per sqft",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rent per sqft",
              "displayName": "Rent per sqft",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rent to price PCT",
              "displayName": "Rent to price PCT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Price vs Zestimate PCT",
              "displayName": "Price vs Zestimate PCT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1248,
        656
      ],
      "id": "b5caf420-f9f0-4a3c-93e7-d6e8a2c63573",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleApi": {
          "id": "wZNFtmT9Bl8TsFbg",
          "name": "edify-automation - [ j.ahmed.ja7a7@gmail.com ]"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1280,
        240
      ],
      "id": "cd39c43b-ed43-4687-b15b-2fec98cb41c1",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1424,
        512
      ],
      "id": "1df7104a-82a1-4920-a172-f0cdae481393",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "wNJ4kmgaGyK198C4",
          "name": "blyt69kun@gmail.com"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        1824,
        528
      ],
      "id": "86df33a1-4bfa-4095-862f-4b0c1c795dac",
      "name": "Calculator"
    },
    {
      "parameters": {
        "sendTo": "fahadsaleem60@gmail.com",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1920,
        432
      ],
      "id": "b3aa17b2-7e42-435d-87a4-6d25a7c5e77c",
      "name": "Send a message in Gmail",
      "webhookId": "b21b1650-90c0-438e-98b1-ae5e18cca950",
      "credentials": {
        "gmailOAuth2": {
          "id": "Q458x3HuWMnd4WaH",
          "name": "OAuth - [ j.ahmed.ja7a7@gmail.com ]"
        }
      }
    },
    {
      "parameters": {
        "url": "https://zillow56.p.rapidapi.com/search?",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "location",
              "value": "={{ $json.Location }}"
            },
            {
              "name": "status",
              "value": "={{ $json.Status }}"
            },
            {
              "name": "price_min",
              "value": "={{ $json['Minimum Price'] }}"
            },
            {
              "name": "price_max",
              "value": "={{ $json['Maxiumum Price'] }}"
            },
            {
              "name": "beds_min",
              "value": "={{ $json['Minimum Number of Beds'] }}"
            },
            {
              "name": "baths_min",
              "value": "={{ $json['Minimum Number of Bathrooms'] }}"
            },
            {
              "name": "sortSelection",
              "value": "={{ $json.sortselection }}"
            },
            {
              "name": "isMultiFamily",
              "value": "={{ $json['Multi Family?'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        352,
        432
      ],
      "id": "5d4f0d8a-0172-4002-b9b1-2813aa603ba7",
      "name": "Find Deals",
      "credentials": {
        "httpHeaderAuth": {
          "id": "gklzrVXtw8DKrBpR",
          "name": "zillow@rapidapi.com - [ j.ahmed.ja7a7@gmail.com ]"
        }
      }
    },
    {
      "parameters": {
        "content": "# Professional Real Estate AI Agent",
        "height": 1020,
        "width": 2120,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "16ff9636-419d-4ee5-92d8-3e0dd19a7d81",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a seasoned real estate investment analyst. Each day, you'll receive a JSON array of property records with fields such as:\n\nAddress\n\nhomeStatus, homeType, size\n\nprice, taxAssessedValue, zestimate, rentZestimate\n\ndownPayment, closingCosts, loanAmount, mortgagePayment\n\nmonthlyPropertyTax, monthlyInsurance, monthlyMaintenance\n\ntotalMonthlyExpenses, monthlyCashFlow, annualCashFlow\n\ncapRate, cashOnCashROI\n\nThe input is available as:\n{{ JSON.stringify($json.data) }}\n\nYour tasks:\n\nWrite a short one-sentence summary of the overall real estate market sentiment.\n\nList the Top 3 properties ranked by cash-on-cash ROI, and for each show:\n\nAddress\n\nROI (%)\n\nMonthly cash flow\n\nList the Top 3 properties ranked by cap rate, and for each show:\n\nAddress\n\nCap rate (%)\n\nAnnual cash flow\n\nHighlight any properties with negative monthly cash flow.\n\nCalculate and display portfolio-wide averages for:\n\nCap rate (%)\n\nCash-on-cash ROI (%)\n\nMonthly cash flow (USD)\n\nSuggest up to two next actions, for example:\n\n“Schedule showings for properties X, Y”\n\n“Consider raising your max price filter to find better cap rates”\n\nFormat your output as a clean daily report with headings and bullet points.\n\nUse the Gmail tool to email this summary.\nSet the email subject to:\nDaily Real Estate KPI Report for {{ $now }}\n(Ensure the date is in YYYY-MM-DD format.)\n\nMake sure the email is HTML formatted and easy to read.",
        "needsFallback": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1568,
        304
      ],
      "id": "50233eb5-3496-468a-9d0c-9482e8e0ae81",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1552,
        576
      ],
      "id": "8b8ed88e-7e2a-4474-982d-bb895990fe0a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "CUz8utBxtWQreX8c",
          "name": "j.ahmed.ja7a7@gmail.com"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-03T12:28:09.130Z",
      "updatedAt": "2025-09-03T12:28:09.130Z",
      "role": "workflow:owner",
      "workflowId": "jeyyHzgO8onR9jD7",
      "projectId": "2lFcYqGDoW8pSvlN"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-13T18:36:13.000Z",
  "versionId": "a949c517-e5bd-4df9-95d0-92426d125b84"
}