workflows/Onboarding Agent/Onboarding Agent.json
{
  "active": false,
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Summarizing Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email Drafting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarizing Email",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Email Drafting",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "JSON Parsing": {
      "main": [
        [
          {
            "node": "Extracting Parameters from JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Drafting": {
      "main": [
        [
          {
            "node": "JSON Parsing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extracting Parameters from JSON": {
      "main": [
        [
          {
            "node": "Send a Welcoming mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarizing Email": {
      "main": [
        [
          {
            "node": "JSON Parsing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON Parsing1": {
      "main": [
        [
          {
            "node": "Extracting Parameters from JSON1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extracting Parameters from JSON1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-31T13:02:40.660Z",
  "id": "IMDcLQ3hvBmRfNx6",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Onboarding Agent",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Onboarding System",
        "formDescription": "Please fulfill all of the fields",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name",
              "placeholder": "Enter Your Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "placeholder": "Please Enter Your Email",
              "requiredField": true
            },
            {
              "fieldLabel": "Company Industry",
              "placeholder": "e.g. Finances, Health Care",
              "requiredField": true
            },
            {
              "fieldLabel": "What do you want to achieve with us in 5 months",
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -384,
        224
      ],
      "id": "15dd3f94-5966-43f6-8479-4371fbae2779",
      "name": "On form submission",
      "webhookId": "12a1a279-5ebd-44fb-985f-0a072f63e2dd"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1_XHpBFs696satV294nuHon7JQP10rwmFMl8lkS8ItMg",
          "mode": "list",
          "cachedResultName": "Onboarding",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_XHpBFs696satV294nuHon7JQP10rwmFMl8lkS8ItMg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_XHpBFs696satV294nuHon7JQP10rwmFMl8lkS8ItMg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Summary": "={{ $json.emailSummary }}",
            "Name ": "={{ $json.name }}",
            "Email ": "={{ $json.email }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name ",
              "displayName": "Name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email ",
              "displayName": "Email ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        976,
        384
      ],
      "id": "ef80e562-414c-4a1d-91c9-5cd29d3761ec",
      "name": "Append row in sheet",
      "credentials": {
        "googleApi": {
          "id": "wZNFtmT9Bl8TsFbg",
          "name": "edify-automation - [ j.ahmed.ja7a7@gmail.com ]"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -80,
        576
      ],
      "id": "32f05595-5f63-4cba-b288-848eefc5dc42",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "CUz8utBxtWQreX8c",
          "name": "j.ahmed.ja7a7@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -32,
        208
      ],
      "id": "9a923583-7cdb-4e2d-b867-45e43bb168c7",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "CUz8utBxtWQreX8c",
          "name": "j.ahmed.ja7a7@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-1.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-1.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Parse the JSON query into 4 fields\n\nName\nEmail\nSubject\nEmail Summary\n\n\n {{ $json.output }}",
              "role": "model"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        352,
        0
      ],
      "id": "58b0170c-8603-4fec-9a07-061baba98fa5",
      "name": "JSON Parsing",
      "credentials": {
        "googlePalmApi": {
          "id": "CUz8utBxtWQreX8c",
          "name": "j.ahmed.ja7a7@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Can you generate a warm and professional welcome email for a new client based on the information provided? The message should be friendly, brief, and personalized—while still sounding professional. It should reflect the client’s industry and their goals for our collaboration. Below is the client’s information:\n\nName: {{ $json.Name }}\n\nEmail: {{ $json.Email }}\n\nCompany Industry: {{ $json['Company Industry'] }}\n\nGoals for the Partnership: {{ $json['What do you want to achieve with us in 5 months'] }}\n\nMake sure to always end the email with the following sign-off:\n\nBest regards,\nFahad S\nVP of Internal Relations\nABC Corp\n\nDo not use placeholders like [Your Name] or [Your Contact Information] under any circumstances, even if some information is missing.\n\nReturn the result in 3 separate fields:\n\nSubject: The email’s subject line\n\nBody: The main email content\n\nEmail: {{ $json.Email }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        0,
        0
      ],
      "id": "41c9de5f-394c-4eb1-96a8-3d6f299af8ea",
      "name": "Email Drafting"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        944,
        0
      ],
      "id": "7df2cbe9-6a95-458c-98f1-15e6c0391599",
      "name": "Send a Welcoming mail",
      "webhookId": "301f02de-803f-40b9-83c8-f5c5452cdddf",
      "credentials": {
        "gmailOAuth2": {
          "id": "Q458x3HuWMnd4WaH",
          "name": "OAuth - j.ahmed.ja7a7@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.content.parts[0].text;\nconst data = JSON.parse(text);\nconsole.log(text);\n\nconst name = data.Name || '';\nconst email = data.Email || '';\nconst subject = data.Subject || '';\nconst body = data.EmailBody || '';\n\nreturn [{\n  json: { name, email, subject, body }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        0
      ],
      "id": "faef5041-3d42-40bd-8387-6b3df2315d46",
      "name": "Extracting Parameters from JSON"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Use the client details below to generate a clear summary of their profile. Here is the information provided:\n\nName: {{ $json.Name }}\n\nCompany Industry: {{ $json['Company Industry'] }}\n\nGoals with Us: {{ $json['What do you want to achieve with us in 5 months'] }}\n\nReturn the following fields separately:\n\nName: {{ $json.Name }}\n\nEmail: {{ $json.Email }}\n\nSummary: A concise overview of the client based on the information provided above\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -32,
        384
      ],
      "id": "8e752d58-109c-42a4-a544-ea86fe23d503",
      "name": "Summarizing Email"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-1.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-1.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Parse the JSON query into 4 fields. Elaborate the summary a bit\n\n\nName\nEmail\nSubject\nEmail Summary\n\n\n\n {{ $json.output }}",
              "role": "model"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        352,
        384
      ],
      "id": "a40f716f-290f-411b-89c2-8d82759a19de",
      "name": "JSON Parsing1",
      "credentials": {
        "googlePalmApi": {
          "id": "CUz8utBxtWQreX8c",
          "name": "j.ahmed.ja7a7@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.content.parts[0].text;\nconst data = JSON.parse(text);\nconsole.log(text);\n\nconst name = data.Name || '';\nconst email = data.Email || '';\nconst subject = data.Subject || '';\nconst emailSummary = data['Email Summary'] !== undefined ? data['Email Summary']  : '';\n\nreturn [{\n  json: { name, email, subject, emailSummary }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        384
      ],
      "id": "7f2b07f2-c457-4f82-b6b4-e19cd689a642",
      "name": "Extracting Parameters from JSON1"
    }
  ],
  "pinData": {
    "On form submission": [
      {
        "json": {
          "Name": "Juni",
          "Email": "j.ahmed.ja7a7@gmail.com",
          "Company Industry": "Finance",
          "What do you want to achieve with us in 5 months": "Hello from the otehr side",
          "submittedAt": "2025-08-25T18:49:35.485+05:00",
          "formMode": "test"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-31T13:02:40.677Z",
      "updatedAt": "2025-08-31T13:02:40.677Z",
      "role": "workflow:owner",
      "workflowId": "IMDcLQ3hvBmRfNx6",
      "projectId": "2lFcYqGDoW8pSvlN"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-02T05:09:09.000Z",
  "versionId": "e7e2fab3-d288-4b8b-95ad-113a6c1be678"
}