workflows/Hotel Reservation System/Hotel Reservation System.json
{
  "active": false,
  "connections": {
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Restaurant AI Host",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Restaurant AI Host",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Restaurant AI Host",
            "type": "ai_languageModel",
            "index": 1
          },
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Checking Reservation Status": {
      "main": [
        [
          {
            "node": "Reservation Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Booking Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Booking Action": {
      "main": [
        [
          {
            "node": "Create a Reservation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get reservations from the sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Cleaning": {
      "main": [
        [
          {
            "node": "Checking Reservation Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restaurant AI Host": {
      "main": [
        [
          {
            "node": "Data Cleaning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reservation Status": {
      "main": [
        [
          {
            "node": "Get Existing Reservations",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets1": {
      "ai_tool": [
        [
          {
            "node": "Get Existing Reservations",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Get Existing Reservations",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get reservations from the sheet": {
      "main": [
        [
          {
            "node": "Delete the reservation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete the reservation": {
      "main": [
        [
          {
            "node": "Adding Cancelled Reservations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing Reservations": {
      "main": [
        [
          {
            "node": "Send Existing Bookings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a Reservation": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adding Cancelled Reservations": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Reservatioin Data": {
      "ai_tool": [
        [
          {
            "node": "Restaurant AI Host",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Restaurant AI Host",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-08T08:15:48.028Z",
  "id": "MUvu4ZLBu4gpTgSq",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Hotel Reservation System",
  "nodes": [
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"action\": \"reserve | cancel\",\n  \"date\": \"YYYY-MM-DD or null\",\n  \"time\": \"HH:MM or null\",\n  \"number_of_seats\": \"integer or null\",\n  \"status\": \"complete | incomplete | conflict\",\n  \"message\": \"Message here\",\n  \"missing_fields\": [\"date\",\"time\",\"number_of_seats\"],\n  \"existing_reservations\": [\n    {\n      \"date\": \"YYYY-MM-DD\",\n      \"time\": \"HH:MM\"\n    }\n  ]\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1744,
        768
      ],
      "id": "e5268006-972a-4b78-a7cb-e2c6fe94e3bf",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2112,
        720
      ],
      "id": "f12ed8b6-639e-48fb-9099-1bc4cbf9dbcb",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "CUz8utBxtWQreX8c",
          "name": "j.ahmed.ja7a7@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "model": "meta-llama/llama-3.1-405b-instruct:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1936,
        928
      ],
      "id": "13902c37-fb1a-42c2-a170-abb7c56a1019",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "jZBCMu8PGL0RFUPv",
          "name": "j.ahmed.ja7a7@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['Reservation Status'] }}",
                    "rightValue": "conflict",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9ce20d9a-edfb-4095-a4b9-15a97a0c08ff"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Conflict"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "210048cc-b320-4887-9651-efd248f72bc2",
                    "leftValue": "={{ $json['Reservation Status'] }}",
                    "rightValue": "incomplete",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Incomplete"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -928,
        160
      ],
      "id": "759cee82-ff93-4d26-9cb7-5258417cabd3",
      "name": "Reservation Status"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b9eff5ee-a2e0-470f-ad07-593e04243d1c",
              "leftValue": "={{ $json['Reservation Status'] }}",
              "rightValue": "incomplete",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "6f05b9d9-9917-4430-a065-66f5c64c841e",
              "leftValue": "={{ $json['Reservation Status'] }}",
              "rightValue": "conflict",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1360,
        464
      ],
      "id": "cb714e6b-dc36-4f60-99d4-5de9f6ee6b6e",
      "name": "Checking Reservation Status"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "90a5af84-783e-4d4a-bc45-e75b20d0b4f7",
                    "leftValue": "={{ $('Data Cleaning').item.json['User Action'] }}",
                    "rightValue": "reserve",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Action: Reserve"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e1c6f758-a940-48b1-a216-d0240206c7e6",
                    "leftValue": "={{ $('Data Cleaning').item.json['User Action'] }}",
                    "rightValue": "cancel",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Action: Cancel"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1136,
        880
      ],
      "id": "1edb54e4-4367-43c6-b59a-083d5b218688",
      "name": "Booking Action"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eb915c3b-d080-44dd-b94c-2fad2424e0bb",
              "name": "User ID",
              "value": "={{ $('Telegram Trigger').item.json.message.from.id }}",
              "type": "string"
            },
            {
              "id": "4c657a7e-43a7-4ba7-b55b-20f3531297fc",
              "name": "Customer Name",
              "value": "={{ $('Telegram Trigger').item.json.message.from.first_name }} {{ $('Telegram Trigger').item.json.message.from.last_name }}",
              "type": "string"
            },
            {
              "id": "9c3318fd-55ce-4159-bcb7-321982eaccea",
              "name": "Reservation Date",
              "value": "={{ $json.output.date }}",
              "type": "string"
            },
            {
              "id": "f27f9dac-bddd-427b-ad13-5ac93bb9a9dd",
              "name": "Reservation Time",
              "value": "={{ $json.output.time }}",
              "type": "string"
            },
            {
              "id": "96257f24-3469-4f0f-ab6c-441fd6b53d16",
              "name": "Seats",
              "value": "={{ $json.output.number_of_seats }}",
              "type": "string"
            },
            {
              "id": "b26bb733-e072-4885-af5d-77b542136847",
              "name": "Reservation Status",
              "value": "={{ $json.output.status }}",
              "type": "string"
            },
            {
              "id": "79cfb1df-474c-47e5-b7e4-50a37bb8e41c",
              "name": "Resrvation Message",
              "value": "={{ $json.output.message }}",
              "type": "string"
            },
            {
              "id": "8730afc7-eb34-4e72-ae7e-388cd3f42cdb",
              "name": "User Action",
              "value": "={{ $json.output.action }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1600,
        464
      ],
      "id": "b29c75ab-822f-4def-83ae-37a9422f0ba4",
      "name": "Data Cleaning"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Process the following user message: {{ $json.message.text }}",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "=You are an AI assistant for a Hotel Reservation system. Your job is to extract structured reservation details or cancellation requests from user messages and validate them against existing reservations.\n\nRules (must follow exactly):\n1. Always return output in valid JSON using the schema provided below. No extra text outside the JSON.\n2. Detect user intent: \"reserve\" or \"cancel\".\n3. For reservations extract: date (YYYY-MM-DD), time (HH:MM 24-hour), number_of_seats (integer).\n4. For cancellations extract: date (YYYY-MM-DD), time (HH:MM 24-hour).\n5. If any required field is missing, set `\"status\": \"incomplete\"` and include `\"missing_fields\"` listing the missing keys.\n6. If the requested date/time conflicts with an existing reservation tied to the same user id ({{ $json.message.from.id }}), set `\"status\": \"conflict\"` and include `\"existing_reservations\"` with only `date` and `time` entries.\n7. Never expose names, user IDs, or seat counts in `\"existing_reservations\"`.\n8. Provide a human-friendly, helpful `\"message\"` string inside the JSON that explains the result and next steps.\n9. Respond only with JSON — nothing else.\n\nTone & UX:\n- Be politely proactive, and user-focused in the `\"message\"` (e.g., confirm successful bookings, give alternative suggestions when conflict, and ask only the missing details when incomplete).\n- Use friendly language and very explanatory CTAs \n\nValidation notes:\n- Normalize times to HH:MM (24-hour). Convert relative dates like \"tomorrow\" to absolute YYYY-MM-DD based on the user's timezone.\n- Recognize common natural language date/time formats (e.g., \"7 PM\", \"next Friday at 8\", \"Sept 20\").\n- If ambiguous (e.g., \"evening\"), treat as missing `time`.\n\nJSON Schema to follow exactly:\n{\n  \"action\": \"reserve\" | \"cancel\",\n  \"date\": \"<YYYY-MM-DD or null>\",\n  \"time\": \"<HH:MM or null>\",\n  \"number_of_seats\": <integer or null>,\n  \"status\": \"complete\" | \"incomplete\" | \"conflict\",\n  \"message\": \"<friendly, actionable message>\",\n  \"missing_fields\": [ ... ],\n  \"existing_reservations\": [ {\"date\":\"YYYY-MM-DD\",\"time\":\"HH:MM\"}, ... ]\n}\n\nWhen in doubt, prefer explicitness (return `null` for unknown fields) and list missing fields so the user can be asked for only what’s needed.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -2016,
        464
      ],
      "id": "0b90a6f7-32fe-4874-86df-dc27f58dffa1",
      "name": "Restaurant AI Host"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1zrXWByrQ5MlWAt1cwSnoq58Q9ulakbSpq9T2Mva6UJQ",
          "mode": "list",
          "cachedResultName": "Hotel Reservation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zrXWByrQ5MlWAt1cwSnoq58Q9ulakbSpq9T2Mva6UJQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Reservations",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zrXWByrQ5MlWAt1cwSnoq58Q9ulakbSpq9T2Mva6UJQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json['User ID'] }}",
            "Name": "={{ $json['Customer Name'] }}",
            "No. of Bookings ": "={{ $json.Seats }}",
            "Date": "={{ $json['Reservation Date'] }}",
            "Time": "={{ $json['Reservation Time'] }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "No. of Bookings ",
              "displayName": "No. of Bookings ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -896,
        800
      ],
      "id": "e08feea3-d24e-4b9e-bc85-385c38e81aab",
      "name": "Create a Reservation",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YAefgAsgr3ppFBcL",
          "name": "OAuth - [ j.ahmed.ja7a7@gmail.com ]"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1zrXWByrQ5MlWAt1cwSnoq58Q9ulakbSpq9T2Mva6UJQ",
          "mode": "list",
          "cachedResultName": "Hotel Reservation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zrXWByrQ5MlWAt1cwSnoq58Q9ulakbSpq9T2Mva6UJQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Reservations",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zrXWByrQ5MlWAt1cwSnoq58Q9ulakbSpq9T2Mva6UJQ/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -544,
        320
      ],
      "id": "5f42082f-61dc-4593-87e7-1c610a5f81be",
      "name": "Get row(s) in sheet in Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YAefgAsgr3ppFBcL",
          "name": "OAuth - [ j.ahmed.ja7a7@gmail.com ]"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -720,
        320
      ],
      "id": "0b7c52a1-98df-486e-93b7-ba251363c627",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "CUz8utBxtWQreX8c",
          "name": "j.ahmed.ja7a7@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1zrXWByrQ5MlWAt1cwSnoq58Q9ulakbSpq9T2Mva6UJQ",
          "mode": "list",
          "cachedResultName": "Hotel Reservation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zrXWByrQ5MlWAt1cwSnoq58Q9ulakbSpq9T2Mva6UJQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Reservations",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zrXWByrQ5MlWAt1cwSnoq58Q9ulakbSpq9T2Mva6UJQ/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ID",
              "lookupValue": "={{ $json['User ID'] }}"
            },
            {
              "lookupColumn": "Date",
              "lookupValue": "={{ $json['Reservation Date'] }}"
            },
            {
              "lookupColumn": "Time",
              "lookupValue": "={{ $json['Reservation Time'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -896,
        960
      ],
      "id": "a1b5199a-9ef4-44ed-bcce-0cf5d23c5bf9",
      "name": "Get reservations from the sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YAefgAsgr3ppFBcL",
          "name": "OAuth - [ j.ahmed.ja7a7@gmail.com ]"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1zrXWByrQ5MlWAt1cwSnoq58Q9ulakbSpq9T2Mva6UJQ",
          "mode": "list",
          "cachedResultName": "Hotel Reservation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zrXWByrQ5MlWAt1cwSnoq58Q9ulakbSpq9T2Mva6UJQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Reservations",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zrXWByrQ5MlWAt1cwSnoq58Q9ulakbSpq9T2Mva6UJQ/edit#gid=0"
        },
        "startIndex": "={{ $json.row_number }}"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -688,
        960
      ],
      "id": "98e94319-07da-4a39-9b69-1e872fbdb5e9",
      "name": "Delete the reservation",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YAefgAsgr3ppFBcL",
          "name": "OAuth - [ j.ahmed.ja7a7@gmail.com ]"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1zrXWByrQ5MlWAt1cwSnoq58Q9ulakbSpq9T2Mva6UJQ",
          "mode": "list",
          "cachedResultName": "Hotel Reservation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zrXWByrQ5MlWAt1cwSnoq58Q9ulakbSpq9T2Mva6UJQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 662051555,
          "mode": "list",
          "cachedResultName": "Cancellations",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zrXWByrQ5MlWAt1cwSnoq58Q9ulakbSpq9T2Mva6UJQ/edit#gid=662051555"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Data Cleaning').item.json['User ID'] }}",
            "Name": "={{ $('Data Cleaning').item.json['Customer Name'] }}",
            "No. of Bookings ": "={{ $('Data Cleaning').item.json.Seats }}",
            "Date": "={{ $('Data Cleaning').item.json['Reservation Date'] }}",
            "Time": "={{ $('Data Cleaning').item.json['Reservation Time'] }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "No. of Bookings ",
              "displayName": "No. of Bookings ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -464,
        960
      ],
      "id": "3920e178-863e-4c94-a5f0-8fbdd794ef7f",
      "name": "Adding Cancelled Reservations",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YAefgAsgr3ppFBcL",
          "name": "OAuth - [ j.ahmed.ja7a7@gmail.com ]"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Get me the reservation data from the google sheets. Only provide me the reservation timings, reservation date. Dont mention the names against the reservations strictly",
        "options": {
          "systemMessage": "You are an AI assistant for a Hotel Reservation system.  \nAlways output only the reservation date and reseYou are an AI assistant for a Hotel Reservation system.\n\nWhen a user asks for reservation(s), do the following exactly:\n- Query the reservations source (e.g., the Google Sheet) and filter by the user id {{ $json.message.from.id }} when appropriate.\n- Always output **only** reservation date and reservation time, formatted as bullet points, one reservation per line.\n- Use this exact bullet format: \"- YYYY-MM-DD, HH:MM\"\n  - Date must be ISO (YYYY-MM-DD).\n  - Time must be 24-hour HH:MM.\n  - Normalize relative dates (e.g., \"tomorrow\") to absolute YYYY-MM-DD using the user's timezone.\n- Never include names, user IDs, seat counts, or any other metadata in the output.\n- Do not include any surrounding explanation, punctuation, or extra lines.\n- If no reservations exist for the query, output exactly (case-sensitive):\n  No reservations found.\nrvation time.  \nNever include names or user IDs in the output.  \nFormat each reservation as a bullet point.  \nIf no reservations exist, return: \"No reservations found.\"\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -720,
        144
      ],
      "id": "efce5923-e5db-489a-977d-a09097f54afc",
      "name": "Get Existing Reservations"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json['Resrvation Message'] }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -688,
        496
      ],
      "id": "8b159b3a-a665-4e52-8235-ac178dbfa407",
      "name": "Send Error Message",
      "webhookId": "a69a8a98-e7b1-4679-905c-76d5478102ee",
      "credentials": {
        "telegramApi": {
          "id": "TrjCMA928DvkeABC",
          "name": "n8n-P"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $('Reservation Status').item.json['Resrvation Message'] }}\n{{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -400,
        144
      ],
      "id": "5235d065-02b1-49ea-b345-9365af87f4fa",
      "name": "Send Existing Bookings",
      "webhookId": "23178d99-cf22-40a4-9990-f1fa4add2980",
      "credentials": {
        "telegramApi": {
          "id": "TrjCMA928DvkeABC",
          "name": "n8n-P"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Reservation Created successfully",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -688,
        800
      ],
      "id": "b37d7015-2011-4276-b513-3c9bb50d5187",
      "name": "Send a text message",
      "webhookId": "4ef2688e-3b71-4357-8100-a92d365dacdc",
      "credentials": {
        "telegramApi": {
          "id": "TrjCMA928DvkeABC",
          "name": "n8n-P"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Reservation Cancelled Successfully",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -256,
        960
      ],
      "id": "30f61ad2-6f74-4aef-91ba-bb710986d549",
      "name": "Send a text message1",
      "webhookId": "4ef2688e-3b71-4357-8100-a92d365dacdc",
      "credentials": {
        "telegramApi": {
          "id": "TrjCMA928DvkeABC",
          "name": "n8n-P"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1zrXWByrQ5MlWAt1cwSnoq58Q9ulakbSpq9T2Mva6UJQ",
          "mode": "list",
          "cachedResultName": "Hotel Reservation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zrXWByrQ5MlWAt1cwSnoq58Q9ulakbSpq9T2Mva6UJQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Reservations",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zrXWByrQ5MlWAt1cwSnoq58Q9ulakbSpq9T2Mva6UJQ/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -1856,
        672
      ],
      "id": "a7426ed2-0b49-4b21-bd6b-cf23eb3d604f",
      "name": "Get Reservatioin Data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YAefgAsgr3ppFBcL",
          "name": "OAuth - [ j.ahmed.ja7a7@gmail.com ]"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -2224,
        464
      ],
      "id": "f256968f-328e-4581-b244-34292ac688ae",
      "name": "Telegram Trigger",
      "webhookId": "f0ffba08-5704-489e-aea5-ed574aaf550b",
      "credentials": {
        "telegramApi": {
          "id": "TrjCMA928DvkeABC",
          "name": "n8n-P"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-09-08T08:15:48.037Z",
      "createdAt": "2025-09-08T08:15:48.037Z",
      "role": "workflow:owner",
      "workflowId": "MUvu4ZLBu4gpTgSq",
      "projectId": "2lFcYqGDoW8pSvlN"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-09-10T13:38:55.000Z",
  "versionId": "72317c82-cb78-4610-a5fb-3cd469de6496"
}